body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.wrapper {
  margin: 5px;
  border: 1px solid #d1d1d1;
  background-color: #FFF;
  box-shadow: 0 3px 7px rgba(0,0,0,.1);
  border-radius: 5px;
}

.cabecera {
  border-bottom: 1px solid #e2e2e2;
  padding: 25px;
}

.cabecera h1 {
  margin: 0 0 5px 0;
  padding: 0;
}

.cabecera h1 a {
  font-size: 15px;
  color: #264f64;
  text-decoration: none;
}

.cabecera p a {
  color: #999;
}

.cabecera p {
  font-size: 12px;
  color: #999;
  padding: 0;
  margin: 0;
}

.cabecera .logo {
  text-indent: -9999px;
  display: block;
  width: 50px;
  height: 50px;
  float: right;
  background: url('/images/constitucional_iso.svg') no-repeat center left;
  background-size: 30px;
  margin-top: -10px;
  float: left;
}

section {
  padding: 25px 25px 15px 75px;
}

section main {
  margin-left: 65px;
}

section {
  font-family: 'Merriweather', 'Georgia', 'Times New Roman', Times, serif;
}

section h6 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 1.15em;
  text-align: left;
  font-weight: 700;
  line-height: 1.5em;
  font-weight: bold;
}

section p {
  line-height: 1.75em;
  font-size: 1em;
  padding: 0;
  margin: 0 0 17px 0;
}

section a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #9FD9F3;
}

section ol {
  font-size: 1em;
  margin-left: -20px;
}

section ol li {
  margin-bottom: 25px;
  color: #999;
}

section ol li p {
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
}

