@font-face {
  font-family: 'BrandonGrtsq';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/BrandonGrtsqLight.otf") format("opentype");
}

@font-face {
  font-family: 'BrandonGrtsq';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/BrandonGrtsqBold.otf") format("opentype");
}

body {
  font-family: "BrandonGrtsq", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

/* Pagina Principal */

.index {
  a {
    text-decoration: none;

    &.button {
      @include sans-serif;
      @include border-radius(25px);
      @include transition(all 300ms);
      display: inline-block;
      text-transform: uppercase;
      font-size: .85em;
      font-weight: 700;
      letter-spacing: .1em;
      padding: 15px 25px 13px 35px;
      border: 2px solid #FFF;
      margin-right: 25px;

      &:hover {
        background-color: rgba(255,255,255,.25);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  header, .wrapper {
    display: block;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
  }

  header {
    @include box-sizing(border-box);
    position: relative;
    height: 80%;
    max-height: 750px;
    min-height: 550px;
    background: #FFF url('/images/republica_argentina.svg') no-repeat 100% 50%;
    background-size: 60%;

    .logo, .social {
      display: block;
      position: absolute;
      top: 10%;
    }

    .logo {
      @include transition(all 200ms);
      display: block;
      width: 250px;
      margin-left: -13px;
      overflow: hidden;

      img { width: 250px; }
    }

    .social {
      margin-top: 5px;
      right: 0;

      img {
        @include transition(all 100ms);
        opacity: .75;
        width: 40px;
        filter: saturate(0%);
        -webkit-filter: saturate(0%);
      }

      &:hover img {
        opacity: 1;
        transform: scale(1.1);
        filter: saturate(100%);
        -webkit-filter: saturate(100%);
      }

      &:active img {
        opacity: 1;
        margin: 0;
        width: 40px;
        filter: saturate(100%);
        -webkit-filter: saturate(100%);
      }
    }

    h1 {
      top: 50%;
      margin-top: -110px;
      clear: both;
      position: absolute;
      font-size: 4.15em;
      text-transform: uppercase;
      color: #4db8de;
      line-height: 1.25em;
      font-weight: 100;

      p {
        margin-top: 4%;
        font-weight: 700;
      }

      a {
        @include transition(all 200ms);
        font-weight: 700;
        color: #264f64;
        border-bottom: 3px solid rgba(0,0,0,0.1);

        &:hover {
          color: #4db8de;
          border-bottom: 2px double #4db8de;
        }
      }
    }

    .rotativos {
      display: none;
    }
  }

  section.twitter {
    clear: both;
    background-color: #FFD500;
    text-align: center;

    a {
      @include transition(all 100ms);
      vertical-align: center;
      padding: 5% 0;
      color: #FFF;
      font-size: 4.5em;
      font-weight: 700;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  section.constitucion-nacion {
    background-color: #4db8de;
    color: #FFF;
    padding: 7% 0;
    text-align: center;

    span {
      margin-top: 3%;
      display: block;
      font-size: 1.75em;
      font-weight: 700;
    }

    .escudo {
      width: 20%;
      opacity: .95;
    }

    a {
      position: relative;
      color: #FFF;
      margin-top: 7%;
      padding: 15px 50px 13px 50px;

      &:after {
        @include transition(all 200ms);
        width: 45px;
        height: 45px;
        position: absolute;
        content: '';
        background: url('/images/iconos/flecha-blanca.svg') no-repeat;
        background-size: 10px;
        opacity: 0;
        top: 12px;
        right: 0px;
      }

      &:hover {
        //background-color: rgba(0,0,0,.05);
        background-position: 85% 49%;

        &:after {
          opacity: 1;
          top: 12px;
          right: -13px;
        }
      }
    }

    span {
      font-size: 4.25em;
      font-weight: 100;

      strong {
        font-weight: 700;
      }
    }
  }

  section.constitucion-provincias {
    padding: 5% 0;
    background-color: #f4f4f4;

    ul {
      margin-left: -3%;

      &:after {
        display: block;
        clear: both;
        content: '';
      }

      li {
        height: 375px;
        width: 30.333%;
        margin: 3% 0;
        float: left;
        margin-left: 3%;

        a {
          @include transition(all 200ms);
          @include box-shadow(0 2px 3px rgba(0,0,0,.15));
          @include border-radius(3px);
          height: 375px;
          width: 100%;
          position: relative;
          display: block;
          background-color: #FFF;
          overflow: hidden;

          &:hover {
            @include box-shadow(0 7px 15px rgba(0, 0, 0, 0.10));

            img {
              filter: saturate(100%);
              -webkit-filter: saturate(100%);
            }

            span {
              color: #4db8de;
              background-position: 10% 49%;
              filter: saturate(100%);
              -webkit-filter: saturate(100%);
            }
          }

          img {
            position: absolute;
            top: 7%;
            left: 10%;
            max-width: 100px;
            max-height: 100px;
            filter: saturate(0%);
            -webkit-filter: saturate(0%);
          }

          .provincia {
            @include transition(all 200ms);
            position: absolute;
            bottom: 80px;
            font-size: 1.65em;
            line-height: 1.2em;
            text-align: left;
            padding: 0 10%;
            color: #666;

            strong {
              font-weight: 700;
              display: block;
            }
          }

          .boton {
            @include transition(all 200ms);
            position: absolute;
            width: 900%;
            bottom: 0;
            border-top: 1px solid #e2e2e2;
            line-height: 50px;
            padding-left: 10%;
            text-transform: uppercase;
            color: #999;
            font-size: .75em;
            letter-spacing: 0.05em;
            background: url('/images/iconos/flecha.svg') no-repeat;
            background-size: 10px;
            background-position: 10% 190%;
            filter: saturate(0%);
            -webkit-filter: saturate(0%);
          }
        }

        &.desactivado {
          a {
            cursor: default;
            opacity: .65;

            &:hover {
              opacity: 1;

              img {
                filter: saturate(0%);
                -webkit-filter: saturate(0%);
              }

              .boton, .provincia {
                background-position: 10% 190%;
                color: #666;
              }
            }
          }
        }
      }
    }
  }

  section.acerca-constitucion {
    padding: 10% 0 7% 0;
    position: relative;

    &:before {
      top: 0;
      content: '';
      position: absolute;
      display: block;
      opacity: .10;
      background: url("/images/escudos/argentina.svg") no-repeat center bottom;
      background-size: 30%;
      z-index: -1;
      display: block;
      width: 100%;
      height: 35%;
    }

    .wrapper {
      &:after {
        display: block;
        clear: both;
        content: '';
      }

      aside {
        width: 35%;
        float: left;

        a {display: none;}

        h2 {
          font-size: 3.25em;
          color: #264f64;

          strong { font-weight: 700; }
        }
      }

      p {
        width: 55%;
        float: right;
        line-height: 1.5em;
        margin-bottom: 1.5%;
        font-size: 1.25em;

        strong {
          display: inline-block;
          margin-top: 3%;
          font-weight: 700;
        }

        &:last-child {
          font-size: 1em;
          color: #999;

          a {
            color: #4db8de;
            border-bottom: 1px dotted;

            &:hover {
              color: #264f64;
            }
          }
        }
      }
    }
  }

  section.acerca-nosotros {
    padding: 7% 0;

    .wrapper {
      &:after {
        display: block;
        clear: both;
        content: '';
      }

      aside {
        width: 35%;
        float: left;

        a {display: none;}

        h2 {
          color: #264f64;
          font-size: 3.25em;

          strong { font-weight: 700; }
        }
      }

      p {
        width: 55%;
        float: right;
        line-height: 1.5em;
        margin-bottom: 1.5%;
        font-size: 1.25em;

        a {
          color: #4db8de;
          border-bottom: 1px solid #e2e2e2;

          &:hover {
            color: #264f64;
          }
        }

        &:last-child {
          margin-top: 3%;

          a {
            display: inline-block;
            min-width: 26%;
            margin-bottom: 2%;
          }
        }

        strong {
          font-weight: 700;
        }

        span {
          @include border-radius(5px);
          margin-left: 1%;
          display: inline-block;
          text-transform: uppercase;
          font-size: .6em;
          letter-spacing: 0.05em;
          font-weight: bold;
          background-color: #f4f4f4;
          padding: 0 2%;
          color: #999;
        }
      }
    }
  }
}

footer {
  position: relative;
  background-color: #fafafa;

  nav {
    padding: 6% 0 6% 0;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &.wrapper {
      display: block;
      width: 90%;
      max-width: 1280px;
      margin: 0 auto;
    }

    &:after {
      bottom: -40%;
      content: '';
      position: absolute;
      display: block;
      background: url("/images/constitucional_iso.svg") no-repeat right top;
      background-size: 20%;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    a {
      cursor: pointer;
      font-size: .9em;
      letter-spacing: 0.1em;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 3%;
      color: #999;
      line-height: 37px;

      &:hover {
        color: #264f64;
      }

      &.cc {
        float: left;
        padding-top: 0;
        @include transition(all 200ms);
        display: inline-block;
        opacity: .1;
        margin-right: 5%;

        &:hover { opacity: .5; }

        img {
          height: 35px;
        }
      }
    }

    p {
      position: absolute;
      top: 65%;
      left: calc(118px + 5%);
      font-size: .9em;
      color: #c0c0c0;
    }
  }
}
