/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, ../app/views/css/css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 30, ../app/views/css/css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 34, ../app/views/css/css.scss */
body {
  line-height: 1; }

/* line 37, ../app/views/css/css.scss */
ol, ul {
  list-style: none; }

/* line 40, ../app/views/css/css.scss */
blockquote, q {
  quotes: none; }

/* line 43, ../app/views/css/css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 48, ../app/views/css/css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../app/views/css/global.scss */
body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 1, ../app/views/css/icons.scss */
.gobierno aside {
  background-image: url(/images/iconos/icono_gobierno.svg); }

/* line 2, ../app/views/css/icons.scss */
.locacion aside {
  background-image: url(/images/iconos/icono_locacion.svg); }

/* line 3, ../app/views/css/icons.scss */
.moneda aside {
  background-image: url(/images/iconos/icono_moneda.svg); }

/* line 4, ../app/views/css/icons.scss */
.religion aside {
  background-image: url(/images/iconos/icono_religion.svg); }

/* line 2, ../app/views/css/constitucion.scss */
.constitucion header {
  text-align: center; }
  /* line 9, ../app/views/css/constitucion.scss */
  .constitucion header a {
    padding: 20px; }
  /* line 13, ../app/views/css/constitucion.scss */
  .constitucion header a:first-child {
    float: left; }
  /* line 17, ../app/views/css/constitucion.scss */
  .constitucion header a:last-child {
    float: right; }
/* line 22, ../app/views/css/constitucion.scss */
.constitucion .hero {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  text-align: center; }
  /* line 27, ../app/views/css/constitucion.scss */
  .constitucion .hero h1 {
    color: #264f64;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -0.05em;
    padding-bottom: 25px; }
  /* line 36, ../app/views/css/constitucion.scss */
  .constitucion .hero p {
    font-style: italic;
    font-size: 15px;
    padding-bottom: 175px;
    color: #666; }
    /* line 42, ../app/views/css/constitucion.scss */
    .constitucion .hero p em {
      font-weight: 700; }
  /* line 47, ../app/views/css/constitucion.scss */
  .constitucion .hero img {
    margin: 300px 0 50px 0; }
/* line 52, ../app/views/css/constitucion.scss */
.constitucion h3 {
  margin: 150px 0 65px 0;
  text-align: center; }
  /* line 56, ../app/views/css/constitucion.scss */
  .constitucion h3 span {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4db9df;
    border: 2px solid #4db9df;
    padding: 13px 35px 11px 35px;
    text-transform: uppercase;
    line-height: 25px; }
/* line 70, ../app/views/css/constitucion.scss */
.constitucion h4 {
  font-size: 40px;
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  color: #264f64;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px; }
/* line 79, ../app/views/css/constitucion.scss */
.constitucion h5 {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  color: #264f64;
  text-align: center;
  margin: 75px 0 10px 0;
  font-style: italic; }
/* line 88, ../app/views/css/constitucion.scss */
.constitucion section {
  border-bottom: 1px dashed #ccc;
  padding: 100px 0 75px 0;
  position: relative; }
  /* line 93, ../app/views/css/constitucion.scss */
  .constitucion section a {
    color: #264f64;
    text-decoration: none;
    border-bottom: 1px dotted; }
  /* line 99, ../app/views/css/constitucion.scss */
  .constitucion section.resaltado {
    background-color: #FFFEF1;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFFEF1));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FFF, #FFFEF1);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #FFF, #FFFEF1);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #FFF, #FFFEF1);
    /* IE10 */
    background-image: -o-linear-gradient(top, #FFF, #FFFEF1);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #FFF, #FFFEF1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FFF', EndColorStr='#FFFEF1'); }
  /* line 103, ../app/views/css/constitucion.scss */
  .constitucion section article {
    max-width: 875px;
    margin: 0 auto;
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    line-height: 25px; }
    /* line 110, ../app/views/css/constitucion.scss */
    .constitucion section article:after {
      clear: both;
      content: '';
      display: table; }
    /* line 116, ../app/views/css/constitucion.scss */
    .constitucion section article aside {
      width: 110px;
      float: left;
      margin-top: -10px; }
      /* line 121, ../app/views/css/constitucion.scss */
      .constitucion section article aside span {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 17px;
        display: block;
        width: 65px;
        height: 65px; }
    /* line 130, ../app/views/css/constitucion.scss */
    .constitucion section article main {
      width: 760px;
      float: right; }
      /* line 134, ../app/views/css/constitucion.scss */
      .constitucion section article main p {
        width: 760px;
        font-size: 20px;
        line-height: 33px;
        padding-bottom: 25px; }
        /* line 140, ../app/views/css/constitucion.scss */
        .constitucion section article main p:last-child {
          padding-bottom: 0; }
      /* line 145, ../app/views/css/constitucion.scss */
      .constitucion section article main header {
        width: 760px;
        color: #333;
        font-weight: 900;
        font-size: 17px;
        text-align: left;
        margin-bottom: 25px; }
        /* line 153, ../app/views/css/constitucion.scss */
        .constitucion section article main header dfn {
          display: block;
          font-size: 13px;
          color: #999;
          font-style: italic;
          font-weight: 300; }
    /* line 163, ../app/views/css/constitucion.scss */
    .constitucion section article footer {
      clear: both; }
      /* line 166, ../app/views/css/constitucion.scss */
      .constitucion section article footer button {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
        background: url("/images/icons/puntos.svg") no-repeat center 4px;
        display: inline-block;
        height: 25px;
        width: 63px;
        border: 1px solid #ccc;
        background-color: #FFF;
        padding: 3px 0;
        cursor: pointer;
        position: relative;
        top: -29px;
        left: 0;
        opacity: .35;
        outline: none;
        text-indent: -9999px;
        float: left; }
        /* line 186, ../app/views/css/constitucion.scss */
        .constitucion section article footer button:hover, .constitucion section article footer button:active {
          opacity: .85; }
        /* line 190, ../app/views/css/constitucion.scss */
        .constitucion section article footer button.expanded {
          border-color: #e2e2e2;
          background-color: transparent;
          opacity: 1;
          background-position: center -28px; }
      /* line 198, ../app/views/css/constitucion.scss */
      .constitucion section article footer ul {
        display: none;
        float: right;
        clear: both;
        width: 760px;
        margin-top: 50px; }
        /* line 205, ../app/views/css/constitucion.scss */
        .constitucion section article footer ul li {
          font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          margin: 10px 0 0;
          font-size: 15px;
          color: #999;
          line-height: 30px; }
          /* line 212, ../app/views/css/constitucion.scss */
          .constitucion section article footer ul li a {
            color: #264f64; }
          /* line 216, ../app/views/css/constitucion.scss */
          .constitucion section article footer ul li span {
            min-width: 150px;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 13px;
            padding-right: 5px;
            display: inline-block;
            letter-spacing: 0.05em;
            color: #999;
            letter-spacing: 1px;
            height: 30px;
            line-height: 32px;
            float: left; }
          /* line 231, ../app/views/css/constitucion.scss */
          .constitucion section article footer ul li textarea, .constitucion section article footer ul li input {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border: 1px solid #e2e2e2;
            width: 350px;
            height: 60px;
            font-size: 15px;
            line-height: 20px;
            display: inline-block;
            padding: 8px 7px;
            outline: none; }
            /* line 243, ../app/views/css/constitucion.scss */
            .constitucion section article footer ul li textarea:focus, .constitucion section article footer ul li input:focus {
              -webkit-box-shadow: 0 0 15px #eaeaea;
              -moz-box-shadow: 0 0 15px #eaeaea;
              box-shadow: 0 0 15px #eaeaea;
              border-color: #d1d1d1; }
          /* line 249, ../app/views/css/constitucion.scss */
          .constitucion section article footer ul li input {
            height: 30px; }
  /* line 257, ../app/views/css/constitucion.scss */
  .constitucion section.preambulo {
    border: none; }
    /* line 260, ../app/views/css/constitucion.scss */
    .constitucion section.preambulo article {
      max-width: 720px;
      padding: 0; }
      /* line 264, ../app/views/css/constitucion.scss */
      .constitucion section.preambulo article p {
        color: #666;
        float: none;
        width: 100%;
        font-size: 24px;
        line-height: 45px;
        text-align: center; }

/* line 281, ../app/views/css/constitucion.scss */
.argentina section:nth-of-type(4n+2) aside span {
  background-color: #FFE900; }
/* line 284, ../app/views/css/constitucion.scss */
.argentina section:nth-of-type(4n+3) aside span {
  background-color: #9FD9F3; }
/* line 287, ../app/views/css/constitucion.scss */
.argentina section:nth-of-type(4n+4) aside span {
  background-color: #0093E0; }
/* line 290, ../app/views/css/constitucion.scss */
.argentina section:nth-of-type(4n+1) aside span {
  background-color: #0068AD; }

/* line 298, ../app/views/css/constitucion.scss */
.buenos_aires section:nth-of-type(5n+1) aside span {
  background-color: #f4d13b; }
/* line 301, ../app/views/css/constitucion.scss */
.buenos_aires section:nth-of-type(5n+2) aside span {
  background-color: #8cd9ed; }
/* line 304, ../app/views/css/constitucion.scss */
.buenos_aires section:nth-of-type(5n+3) aside span {
  background-color: #2e8db7; }
/* line 307, ../app/views/css/constitucion.scss */
.buenos_aires section:nth-of-type(5n+4) aside span {
  background-color: #47B179; }
/* line 310, ../app/views/css/constitucion.scss */
.buenos_aires section:nth-of-type(5n+5) aside span {
  background-color: #3B4E99; }
