/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, ../app/views/css/css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 30, ../app/views/css/css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 34, ../app/views/css/css.scss */
body {
  line-height: 1; }

/* line 37, ../app/views/css/css.scss */
ol, ul {
  list-style: none; }

/* line 40, ../app/views/css/css.scss */
blockquote, q {
  quotes: none; }

/* line 43, ../app/views/css/css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 48, ../app/views/css/css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../app/views/css/global.scss */
body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 1, ../app/views/css/icons.scss */
.gobierno aside {
  background-image: url(/images/iconos/icono_gobierno.svg); }

/* line 2, ../app/views/css/icons.scss */
.locacion aside {
  background-image: url(/images/iconos/icono_locacion.svg); }

/* line 3, ../app/views/css/icons.scss */
.moneda aside {
  background-image: url(/images/iconos/icono_moneda.svg); }

/* line 4, ../app/views/css/icons.scss */
.religion aside {
  background-image: url(/images/iconos/icono_religion.svg); }

/* line 2, ../app/views/css/constitucion.scss */
.constitucion header {
  text-align: center; }
  /* line 9, ../app/views/css/constitucion.scss */
  .constitucion header a {
    padding: 20px; }
  /* line 13, ../app/views/css/constitucion.scss */
  .constitucion header a:first-child {
    float: left; }
  /* line 17, ../app/views/css/constitucion.scss */
  .constitucion header a:last-child {
    float: right; }
/* line 22, ../app/views/css/constitucion.scss */
.constitucion .hero {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  text-align: center; }
  /* line 27, ../app/views/css/constitucion.scss */
  .constitucion .hero h1 {
    color: #264f64;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -0.05em;
    padding-bottom: 25px; }
  /* line 36, ../app/views/css/constitucion.scss */
  .constitucion .hero p {
    font-style: italic;
    font-size: 15px;
    padding-bottom: 175px;
    color: #666; }
    /* line 42, ../app/views/css/constitucion.scss */
    .constitucion .hero p em {
      font-weight: 700; }
  /* line 47, ../app/views/css/constitucion.scss */
  .constitucion .hero img {
    margin: 300px 0 50px 0; }
/* line 52, ../app/views/css/constitucion.scss */
.constitucion h3 {
  margin: 150px 0 65px 0;
  text-align: center; }
  /* line 56, ../app/views/css/constitucion.scss */
  .constitucion h3 span {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4db9df;
    border: 2px solid #4db9df;
    padding: 13px 35px 11px 35px;
    text-transform: uppercase;
    line-height: 25px; }
/* line 70, ../app/views/css/constitucion.scss */
.constitucion h4 {
  font-size: 40px;
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  color: #264f64;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px; }
/* line 79, ../app/views/css/constitucion.scss */
.constitucion h5 {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  color: #264f64;
  text-align: center;
  margin: 75px 0 10px 0;
  font-style: italic; }
/* line 88, ../app/views/css/constitucion.scss */
.constitucion section {
  border-bottom: 1px dashed #ccc; }
  /* line 91, ../app/views/css/constitucion.scss */
  .constitucion section a {
    color: #264f64;
    text-decoration: none;
    border-bottom: 1px dotted; }
  /* line 97, ../app/views/css/constitucion.scss */
  .constitucion section:nth-of-type(1n) aside {
    background-color: #ffde76; }
  /* line 100, ../app/views/css/constitucion.scss */
  .constitucion section:nth-of-type(2n) aside {
    background-color: #51a2ce; }
  /* line 103, ../app/views/css/constitucion.scss */
  .constitucion section:nth-of-type(3n) aside {
    background-color: #bde2ef; }
  /* line 106, ../app/views/css/constitucion.scss */
  .constitucion section:nth-of-type(4n) aside {
    background-color: #51a2ce; }
  /* line 110, ../app/views/css/constitucion.scss */
  .constitucion section article {
    max-width: 875px;
    margin: 0 auto;
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    line-height: 25px;
    padding: 100px 0 75px 0;
    position: relative; }
    /* line 118, ../app/views/css/constitucion.scss */
    .constitucion section article:after {
      clear: both;
      content: ' ';
      display: block; }
    /* line 124, ../app/views/css/constitucion.scss */
    .constitucion section article p {
      width: 760px;
      float: right;
      font-size: 20px;
      line-height: 33px;
      padding-bottom: 25px; }
    /* line 132, ../app/views/css/constitucion.scss */
    .constitucion section article header {
      width: 760px;
      float: right;
      color: #333;
      font-weight: 900;
      font-size: 17px;
      text-align: left;
      margin-bottom: 25px; }
      /* line 141, ../app/views/css/constitucion.scss */
      .constitucion section article header dfn {
        display: block;
        font-size: 13px;
        color: #999;
        font-style: italic;
        font-weight: 300; }
    /* line 150, ../app/views/css/constitucion.scss */
    .constitucion section article aside {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: -10px;
      float: left;
      padding: 17px; }
      /* line 156, ../app/views/css/constitucion.scss */
      .constitucion section article aside img {
        display: block; }
    /* line 161, ../app/views/css/constitucion.scss */
    .constitucion section article button {
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: url("/images/icons/puntos.svg") no-repeat center -28px;
      display: inline-block;
      height: 25px;
      width: 65px;
      border: 1px solid #e2e2e2;
      background-color: #e2e2e2;
      padding: 3px 0;
      cursor: pointer;
      position: absolute;
      bottom: 107px;
      left: 0px;
      opacity: .35;
      outline: none;
      text-indent: -9999px; }
      /* line 178, ../app/views/css/constitucion.scss */
      .constitucion section article button:hover, .constitucion section article button:active {
        opacity: .85;
        border-color: #ccc;
        background-color: #ccc; }
      /* line 184, ../app/views/css/constitucion.scss */
      .constitucion section article button.expanded {
        border-color: #e2e2e2;
        background-color: transparent;
        opacity: 1;
        background-position: center 4px;
        bottom: 245px; }
    /* line 193, ../app/views/css/constitucion.scss */
    .constitucion section article ul {
      display: none;
      clear: both;
      padding: 15px 0 0;
      margin-left: 120px;
      border-top: 1px solid #e2e2e2; }
      /* line 200, ../app/views/css/constitucion.scss */
      .constitucion section article ul li {
        font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 10px 0 0;
        font-size: 15px;
        color: #999;
        line-height: 30px; }
        /* line 207, ../app/views/css/constitucion.scss */
        .constitucion section article ul li a {
          color: #264f64; }
        /* line 211, ../app/views/css/constitucion.scss */
        .constitucion section article ul li span {
          min-width: 150px;
          font-weight: 100;
          text-transform: uppercase;
          font-size: 13px;
          padding-right: 5px;
          display: inline-block;
          letter-spacing: 0.05em;
          color: #999;
          letter-spacing: 1px;
          height: 30px;
          line-height: 32px;
          float: left; }
        /* line 226, ../app/views/css/constitucion.scss */
        .constitucion section article ul li textarea, .constitucion section article ul li input {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          border: 1px solid #e2e2e2;
          width: 350px;
          height: 60px;
          font-size: 15px;
          line-height: 20px;
          display: inline-block;
          padding: 8px 7px;
          outline: none; }
          /* line 238, ../app/views/css/constitucion.scss */
          .constitucion section article ul li textarea:focus, .constitucion section article ul li input:focus {
            -webkit-box-shadow: 0 0 15px #eaeaea;
            -moz-box-shadow: 0 0 15px #eaeaea;
            box-shadow: 0 0 15px #eaeaea;
            border-color: #d1d1d1; }
        /* line 244, ../app/views/css/constitucion.scss */
        .constitucion section article ul li input {
          height: 30px; }
  /* line 251, ../app/views/css/constitucion.scss */
  .constitucion section.preambulo {
    border: none; }
    /* line 254, ../app/views/css/constitucion.scss */
    .constitucion section.preambulo article {
      max-width: 720px;
      padding: 0; }
      /* line 258, ../app/views/css/constitucion.scss */
      .constitucion section.preambulo article p {
        color: #666;
        float: none;
        width: 100%;
        font-size: 24px;
        line-height: 45px;
        text-align: center; }
