.constitucion {
  header {
    //@include box-shadow(0 0 10px rgba(0,0,0,.1));
//    height: 65px;
//    border-bottom: 1px solid #e2e2e2;
    text-align: center;


    a {
       padding: 20px;
    }

    a:first-child {
      float: left;
    }

    a:last-child {
      float: right;
    }
  }

  .hero {
    @include serif;
    text-align: center;
    //background: url(/images/ribbons/argentina.svg) no-repeat center top;

    h1 {
      color: #264f64;
      font-weight: 700;
      font-size: 70px;
      line-height: 80px;
      letter-spacing: -0.05em;
      padding-bottom: 25px;
    }

    p {
      font-style: italic;
      font-size: 15px;
      padding-bottom: 175px;
      color: #666;

      em {
        font-weight: 700;
      }
    }

    img {
      margin: 300px 0 50px 0;
    }
  }

  h3 {
    margin: 150px 0 65px 0;
    text-align: center;

    span {
      @include border-radius(30px);
      font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #4db9df;
      border: 2px solid #4db9df;
      padding: 13px 35px 11px 35px;
      text-transform: uppercase;
      line-height: 25px;

    }
  }

  h4 {
    font-size: 40px;
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    color: #264f64;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }

  h5 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    font-size: 20px;
    color: #264f64;
    text-align: center;
    margin: 75px 0 10px 0;
    font-style: italic;
  }

  section {
    border-bottom: 1px dashed #ccc;

    a {
      color: #264f64;
      text-decoration: none;
      border-bottom: 1px dotted;
    }

    &:nth-of-type(1n) aside {
      background-color: #ffde76;
    }
    &:nth-of-type(2n) aside {
      background-color: #51a2ce;
    }
    &:nth-of-type(3n) aside {
      background-color: #bde2ef;
    }
    &:nth-of-type(4n) aside {
      background-color: #51a2ce;
    }

    article {
      max-width: 875px;
      margin: 0 auto;
      font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
      line-height: 25px;
      padding: 100px 0 75px 0;
      position: relative;

      &:after {
        clear: both;
        content: ' ';
        display: block;
      }

      p {
        width: 760px;
        float: right;
        font-size: 20px;
        line-height: 33px;
        padding-bottom: 25px;

        &:last-child {
          padding-bottom: 50px;
        }
      }

      header {
        width: 760px;
        float: right;
        color: #333;
        font-weight: 900;
        font-size: 17px;
        text-align: left;
        margin-bottom: 25px;

        dfn {
          display: block;
          font-size: 13px;
          color: #999;
          font-style: italic;
          font-weight: 300;
        }
      }

      aside {
        @include border-radius(50px);
        margin-top: -10px;
        float: left;
        padding: 17px;

        img {
          display: block;
        }
      }

      button {
        @include border-radius(25px);
        background: url('/images/icons/puntos.svg') no-repeat center 4px;
        display: inline-block;
        height: 25px;
        width: 65px;
        border: 1px solid #ccc;
        background-color: #FFF;
        padding: 3px 0;
        cursor: pointer;
        position: absolute;
        bottom: 107px;
        left: 0px;
        opacity: .35;
        outline: none;
        text-indent: -9999px;

        &:hover, &:active {
          opacity: .85;
        }

        &.expanded {
          border-color: #e2e2e2;
          background-color: transparent;
          opacity: 1;
          background-position: center -28px;
          bottom: 244px;
        }
      }

      ul {
        display: none;
        clear: both;
        padding: 15px 0 0;
        margin-left: 120px;
        //border-top: 1px solid #e2e2e2;

        li {
          @include sans-serif;
          margin: 10px 0 0;
          font-size: 15px;
          color: #999;
          line-height: 30px;

          a {
            color: #264f64;
          }

          span {
            min-width: 150px;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 13px;
            padding-right: 5px;
            display: inline-block;
            letter-spacing: 0.05em;
            color: #999;
            letter-spacing: 1px;
            height: 30px;
            line-height: 32px;
            float: left;
          }

          textarea, input {
            @include border-radius(5px);
            @include sans-serif;
            border: 1px solid #e2e2e2;
            width: 350px;
            height: 60px;
            font-size: 15px;
            line-height: 20px;
            display: inline-block;
            padding: 8px 7px;
            outline: none;

            &:focus {
              @include box-shadow(0 0 15px #eaeaea);
              border-color: #d1d1d1;
            }
          }

          input {
            height: 30px;
          }
        }
      }
    }

    &.preambulo {
      border: none;

      article {
        max-width: 720px;
        padding: 0;

        p {
          color: #666;
          float: none;
          width: 100%;
          font-size: 24px;
          line-height: 45px;
          text-align: center;
        }
      }
    }
  }
}

