
.constitucion {
  header {
    //@include box-shadow(0 0 10px rgba(0,0,0,.1));
//    height: 65px;
//    border-bottom: 1px solid #e2e2e2;
    text-align: center;


    a {
       padding: 20px;
    }

    a:first-child {
      float: left;
    }

    a:last-child {
      float: right;
    }
  }

  .hero {
    @include serif;
    text-align: center;
    width: 65%;
    margin: 14% auto 17% auto;
    //background: url(/images/ribbons/argentina.svg) no-repeat center top;

    h1 {
      color: #264f64;
      font-weight: 700;
      font-size: 4.3em;
      line-height: 1.2em;
      letter-spacing: -0.05em;
      padding-bottom: 2%;
    }

    p {
      font-style: italic;
      font-size: 0.938em;
      //padding-bottom: 25%;
      color: #666;

      em {
        font-weight: 700;
      }
    }

    img {
      width: 13%;
      margin-bottom: 2%;
    }
  }

  h3 {
    text-align: center;
    margin: 5% 0 0 0;

    span {
      @include border-radius(30px);
      font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1em;
      line-height: 2em;
      font-weight: 600;
      color: #4db9df;
      border: 2px solid #4db9df;
      padding: 13px 35px 11px 35px;
      text-transform: uppercase;
    }
  }

  h4 {
    font-size: 2.5em;
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    color: #264f64;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4%;

    + a + section { border-top: none !important; }
  }

  h5 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    color: #264f64;
    text-align: center;
    margin: 5% 0 1% 0;
    font-style: italic;
  }

  section {
    border-top: 1px dashed #ccc;
    padding: 5% 0 5% 0;
    position: relative;

    a {
      color: #264f64;
      text-decoration: none;
      border-bottom: 1px dotted;
    }

    &.resaltado {
      @include linear-gradient(#FCFBF6, #FFF);
    }

    article {
      @include serif;
      width: 65%;
      max-width: 1280px;
      margin: 0 auto;
      line-height: 25px;


      &:after {
        clear: both;
        content: '';
        display: table;
      }

      aside {
        width: 10%;
        float: left;
        margin-top: -10px;
        max-width: 80px;

        span {
          @include border-radius(50px);
          padding: 15%;
          display: block;
          width: 75%;

          img {
            width: 100%;
          }
        }
      }

      main {
        width: 87%;
        float: right;

        p {
          //width: 760px;
          font-size: 20px;
          line-height: 33px;
          padding-bottom: 25px;

          &:last-child {
            padding-bottom: 0;
          }
        }

        header {
          color: #333;
          font-weight: 900;
          font-size: 1.063em;
          text-align: left;
          margin-bottom: 2%;

          dfn {
            display: block;
            font-size: 0.813em;
            color: #999;
            font-style: italic;
            font-weight: 300;
          }
        }
      }

      footer {
        clear: both;

        button {
          @include border-radius(25px);
          @include transition(all 300ms);
          background: url('/images/iconos/puntos.svg') no-repeat center 4px;
          display: inline-block;
          height: 25px;
          width: 63px;
          border: 1px solid #ccc;
          background-color: #FFF;
          padding: 3px 0;
          cursor: pointer;
          position: relative;
          top: -29px;
          left: 0;
          opacity: .35;
          outline: none;
          text-indent: -9999px;
          float: left;


          &:hover, &:active {
            opacity: .85;
          }

          &.expanded {
            border-color: #51a2ce;
            background-color: transparent;
            opacity: 1;
            background-position: center -28px;
          }
        }

        ul {
          display: none;
          float:right;
          clear: both;
          width: 760px;
          margin-top: 50px;

          li {
            @include sans-serif;
            margin: 10px 0 0;
            font-size: 15px;
            color: #999;
            line-height: 30px;

            a {
              color: #264f64;
            }

            span {
              min-width: 150px;
              font-weight: 100;
              text-transform: uppercase;
              font-size: 13px;
              padding-right: 5px;
              display: inline-block;
              letter-spacing: 0.05em;
              color: #999;
              letter-spacing: 1px;
              height: 30px;
              line-height: 32px;
              float: left;
            }

            textarea, input {
              @include border-radius(5px);
              @include sans-serif;
              border: 1px solid #e2e2e2;
              width: 350px;
              height: 60px;
              font-size: 15px;
              line-height: 20px;
              display: inline-block;
              padding: 8px 7px;
              outline: none;

              &:focus {
                @include box-shadow(0 0 15px #eaeaea);
                border-color: #d1d1d1;
              }
            }

            input {
              height: 30px;
            }
          }
        }
      }
    }

    &.preambulo {
      border: none;

      article {
        width: 50%;
        padding: 0;

        p {
          color: #666;
          float: none;
          width: 100%;
          font-size: 1.5em;
          line-height: 1.75em;
          text-align: center;
        }
      }
    }
  }
}

// Estilos por cada constitución

.argentina {
  section {
    &:nth-of-type(4n+2) aside span {
      background-color: #FFE900; // Amarillo
    }
    &:nth-of-type(4n+3) aside span {
      background-color: #9FD9F3; // Celeste
    }
    &:nth-of-type(4n+4) aside span {
      background-color: #0093E0; // Celeste Oscuro
    }
    &:nth-of-type(4n+1) aside span {
      background-color: #0068AD; // Azul
    }
  }
}

.buenos_aires {
  section {
    &:nth-of-type(5n+1) aside span {
      background-color: #f4d13b;
    }
    &:nth-of-type(5n+2) aside span {
      background-color: #8cd9ed;
    }
    &:nth-of-type(5n+3) aside span {
      background-color: #2e8db7;
    }
    &:nth-of-type(5n+4) aside span {
      background-color: #47B179;
    }
    &:nth-of-type(5n+5) aside span {
      background-color: #3B4E99;
    }
  }
}
