//.gobierno aside { background-image: url(/images/iconos/icono_gobierno.svg); }
//.locacion aside { background-image: url(/images/iconos/icono_locacion.svg); }
//.moneda aside { background-image: url(/images/iconos/icono_moneda.svg); }
//.religion aside { background-image: url(/images/iconos/icono_religion.svg); }
