@media (max-width: 1279px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 329px) {
  body {
    font-size: 8px;
  }
}