@media (max-width: 1279px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  body {
    font-size: 11px;

    #principal {
      height: 60px !important;

      p {
        background-position: center -2px !important;
        background-size: 113px !important;
        font-size: 13px !important;
        line-height: 1.25em !important;
        padding: 23px 17%;
      }

      .btn-buscar, ul {
        display: none;
      }

      .btn-menu:before {
        border-left: none !important;
      }

      .btn-constitucional {
        width: 38px !important;
      }
    }

    #lateral {
      width: 200px !important;
      padding-top: 0 !important;
      font-size: 12px;

      h3, h5 {
        width: 100% !important;
      }
    }

    &.homepage {
      header {
        width: 100%;
        height:60%;
        max-height: initial;
        min-height: initial;
        padding: 0 10%;
        min-width: initial;
        max-width: initial;
        background-size: 90%;

        h1 {
          font-size: 2.85em;
          width: 85%;
          margin-top: -40px;
        }

        .logo img { width: 175px; }

        .social {
          right: 7%;

          img { width: 30px; }
        }
      }

      .wrapper {
        width: 85%;
        min-width: initial;
        max-width: initial;
      }

      .constitucion-nacion {
        padding: 15% 0;
        span { font-size: 3em; }
      }

      .constitucion-provincias {
        ul {
          margin: 25px 0;

          li {
            float: none;
            width: 100%;
            margin: 35px 0;
            height: auto;

            &:first-child {
              margin-top: 0;
            }

            a {
              height: 255px;
            }

            .boton { font-size: .95em !important; }
          }
        }
      }

      .acerca-constitucion, .acerca-nosotros {
        padding: 15% 0 10% 0;

        &:before {
          background-size: 60%;
        }

        aside {
          width: 100% !important;
          float: none !important;
          margin-bottom: 10%;
        }

        p {
          width: 100% !important;
          font-size: 1.45em !important;
          float: none !important;
          margin-bottom: 5% !important;

          &:last-child {
            font-size: 1em !important;
          }
        }
      }

      .twitter a {
        padding: 10% 0;
        font-size: 4em;
      }

      .acerca-nosotros {
        p:last-child {
          margin-top: 10% !important;
          font-size: 1.35em !important;

          a { min-width: 35%; }
        }
      }
    }

    &.constitucion {
      h1, h2, h3, h4, h5, section {
        + a {
          top: -85px !important;
        }
      }

      h3 {
        width: 80%;
        margin: 15% auto;
      }

      h5 {
        margin: 6% auto 12% auto;
        width: 80%;
      }

      .hero {
        padding: 13% 5% 19% 5%;
      }

      .destacado {
        padding: 10% 4% 7% 4%;
      }

      section {
        article {
          margin: 0 auto 10% auto;
          width: 90%;
          padding: 7% 7% 6% 7%;
        }

        &.destacado {
          article {
            width: 90%;
            padding: 10% 3% 9% 3%;
          }
        }

        &.expandido header { min-height: 150px; }

        header {
          width: 90%;

          aside { left: 21px; }
          dfn {
            left: 85px;
            width: calc(100% - 150px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          ul li {
            &:first-child {
              padding: 16px 7% 0 7% !important;

              input { width: 100%; }
            }
            &.embeber { display: none; }
          }
        }
      }
    }

    footer {
      position: relative;
      padding: 13% 7% 0 10%;

      nav {
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 0 15% 0;
      }

      a {
        display: block;
        margin: 0;
      }

      a.cc {
        position: absolute;
        opacity: .25;
        display: block;
        right: 0;
        margin: 0;

        img { height: 20px;}
      }

      p {
        position: absolute;
        top: 40px;
        right: 0;
        text-align: right;
      }
    }

    &.lateral-activo {
      @include transition(all 300ms);

      &:after {
        content: '';
        background: rgba(0,0,0,.35);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }

      &.achicado {
        #lateral {
          padding-top: 60px !important;
        }
      }

      right: 0px !important;
    }
  }
}

@media (max-width: 329px) {
  body {
    font-size: 8px;

    #principal p {
      padding: 15px 31%;
    }
  }
}