@mixin box-sizing($string) {
  -webkit-box-sizing: $string;
     -moz-box-sizing: $string;
          box-sizing: $string;
}

@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
     -moz-box-shadow: $string;
          box-shadow: $string;
}

@mixin border-radius($string) {
  -webkit-border-radius: $string;
     -moz-border-radius: $string;
          border-radius: $string;
}

@mixin transition($string) {
  -webkit-transition: $string;
     -moz-transition: $string;
          transition: $string;
}

@mixin sans-serif {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin serif {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
}