<%
  @title = 'Constitución de la Nación Argentina'
  @body_class = 'argentina'
  @keywords = ''
  @description = ''
%>

    <div class="hero">
      <img src="/images/escudos/argentina1.svg">
      <h1>Constitución <br>de la Nación Argentina</h1>
      <p>Sancionada: <em>Diciembre 15 de 1994</em>. Promulgada: <em>Enero 3 de 1995</em>.</p>
    </div>

    <h3><span>Preámbulo</span></h3>

    <section class="preambulo">
      <article>
        <p>Nos los representantes del pueblo de la Nación Argentina, reunidos en Congreso General Constituyente por voluntad y elección de las provincias que la componen, en cumplimiento de pactos preexistentes, con el objeto de constituir la unión nacional, afianzar la justicia, consolidar la paz interior, proveer a la defensa común, promover el bienestar general, y asegurar los beneficios de la libertad, para nosotros, para nuestra posteridad, y para todos los hombres del mundo que quieran habitar en el suelo argentino: invocando la protección de Dios, fuente de toda razón y justicia: ordenamos, decretamos y establecemos esta Constitución, para la Nación Argentina.</p>
      </article>
    </section>

    <h3><span>Primera Parte</span></h3>

    <h5>Capítulo Primero</h5>
    <h4>Declaraciones, derechos y garantías</h4>

    <section class="gobierno">
      <article>
        <aside><img src="/images/ribbons/icono-gobierno.svg"></aside>
        <header>Artículo 1º <dfn>Forma de Gobierno</dfn></header>
        <p>La Nación Argentina adopta para su gobierno la forma representativa republicana federal, según la establece la presente Constitución.</p>
        <ul>
          <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371"></li>
          <li class="embeber"><span>Embeber HTML</span> <textarea><blockquote class="twitter-tweet" lang="en"><p>No es normal q trate a mi gata como gato. No es normal.</p>&mdash; Olive Penderghast (@pnybortenbox) <a href="https://twitter.com/pnybortenbox/status/520353834762502144">October 9, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></textarea></li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section class="religion">
      <article>
        <aside><img src="/images/ribbons/icono-religion.svg"></aside>
        <header>Artículo 2º <dfn>Religión Oficial</dfn></header>
        <p>El Gobierno federal sostiene el culto católico apostólico romano.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section class="locacion">
      <article>
        <aside><img src="/images/ribbons/icono-locacion.svg"></aside>
        <header>Artículo 3º <dfn>Residencia de Autoridades</dfn></header>
        <p>Las autoridades que ejercen el Gobierno federal, residen en la ciudad que se declare Capital de la República por una ley especial del Congreso, previa cesión hecha por una o más legislaturas provinciales, del territorio que haya de federalizarse.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section class="moneda">
      <article>
        <aside><img src="/images/ribbons/icono-moneda.svg"></aside>
        <header>Artículo 4º <dfn>Financiación de la Nación</dfn></header>
        <p>El Gobierno federal provee a los gastos de la Nación con los fondos del Tesoro nacional formado del producto de derechos de importación y exportación, del de la venta o locación de tierras de propiedad nacional, de la renta de Correos, de las demás contribuciones que equitativa y proporcionalmente a la población imponga el Congreso General, y de los empréstitos y operaciones de crédito que decrete el mismo Congreso para urgencias de la Nación, o para empresas de utilidad nacional.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section>
      <article>
        <aside><img src="/images/ribbons/icono-gobierno.svg"></aside>
        <header>Artículo 5º <dfn>Constitución de las Provincias</dfn></header>
        <p>Cada provincia dictará para sí una Constitución bajo el sistema representativo republicano, de acuerdo con los principios, declaraciones y garantías de la Constitución Nacional; y que asegure su administración de justicia, su régimen municipal, y la educación primaria. Bajo de estas condiciones el Gobierno federal, garante a cada provincia el goce y ejercicio de sus instituciones.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section>
      <article>
        <aside><img src="/images/ribbons/icono-gobierno.svg"></aside>
        <header>Artículo 6º <dfn>Protección del Territorio</dfn></header>
        <p>El Gobierno federal interviene en el territorio de las provincias para garantir la forma republicana de gobierno, o repeler invasiones exteriores, y a requisición de sus autoridades constituidas para sostenerlas o restablecerlas, si hubiesen sido depuestas por la sedición, o por invasión de otra provincia.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section>
      <article>
        <aside><img src="/images/ribbons/icono-gobierno.svg"></aside>
        <header>Artículo 14º (bis) <dfn>Empleo y Seguridad Social</dfn></header>
        <p>El trabajo en sus diversas formas gozará de la protección de las leyes, las que asegurarán al trabajador: condiciones dignas y equitativas de labor, jornada limitada; descanso y vacaciones pagados; retribución justa; salario mínimo vital móvil; igual remuneración por igual tarea; participación en las ganancias de las empresas, con control de la producción y colaboración en la dirección; protección contra el despido arbitrario; estabilidad del empleado público; organización sindical libre y democrática, reconocida por la simple inscripción en un registro especial.</p>

<p>Queda garantizado a los gremios: concertar convenios colectivos de trabajo; recurrir a la conciliación y al arbitraje; el derecho de huelga. Los representantes gremiales gozarán de las garantías necesarias para el cumplimiento de su gestión sindical y las relacionadas con la estabilidad de su empleo.</p>

<p>El Estado otorgará los beneficios de la seguridad social, que tendrá carácter de integral e irrenunciable. En especial, la ley establecerá: el seguro social obligatorio, que estará a cargo de entidades nacionales o provinciales con autonomía financiera y económica, administradas por los interesados con participación del Estado, sin que pueda existir superposición de aportes; jubilaciones y pensiones móviles; la protección integral de la familia; la defensa del bien de familia; la compensación económica familiar y el acceso a una vivienda digna.</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
        <button>Expand</button>
      </article>
    </section>

    <section>
      <article>
        <button>Expand</button>
        <aside><img src="/images/ribbons/icono-gobierno.svg"></aside>
        <header>Cuarta <dfn>Protección del Territorio</dfn></header>
        <p>Los actuales integrantes del Senado de la Nación desempeñarán su cargo hasta la extinción del mandato correspondiente a cada uno.</p>

<p>En ocasión de renovarse un tercio del Senado en mil novecientos noventa y cinco, por finalización de los mandatos de todos los senadores elegidos en mil novecientos ochenta y seis, será designado además un tercer senador por distrito por cada Legislatura. El conjunto de los senadores por cada distrito se integrará, en lo posible, de modo que correspondan dos bancas al partido político o alianza electoral que tenga el mayor número de miembros en la legislatura, y la restante al partido político o alianza electoral que le siga en número de miembros de ella. En caso de empate, se hará prevalecer al partido político o alianza electoral que hubiera obtenido mayor cantidad de sufragios en la elección legislativa provincial inmediata anterior.</p>

<p>La elección de los senadores que reemplacen a aquellos cuyos mandatos vencen en mil novecientos noventa y ocho, así como la elección de quien reemplace a cualquiera de los actuales senadores en caso de aplicación del Artículo 62, se hará por estas mismas reglas de designación. Empero, el partido político o alianza electoral que tenga el mayor número de miembros en la Legislatura al tiempo de la elección del senador, tendrá derecho a que sea elegido su candidato, con la sola limitación de que no resulten los tres senadores de un mismo partido político o alianza electoral.</p>

<p>Estas reglas serán también aplicables a la elección de los senadores por la ciudad de Buenos Aires, en mil novecientos noventa y cinco por el cuerpo electoral, y en mil novecientos noventa y ocho, por el órgano legislativo de la ciudad.</p>

<p>La elección de todos los senadores a que se refiere esta cláusula se llevará a cabo con una anticipación no menor de sesenta ni mayor de noventa días al momento en que el senador deba asumir su función.</p>

<p>En todos los casos, los candidatos a senadores serán propuestos por los partidos políticos o alianzas electorales. El cumplimiento de las exigencias legales y estatutarias para ser proclamado candidato será certificado por la Justicia Electoral Nacional y comunicado a la Legislatura.</p>

<p>Toda vez que se elija un senador nacional se designará un suplente, quien asumirá en los casos del Artículo 62.</p>

<p>Los mandatos de los senadores elegidos por aplicación de esta cláusula transitoria durarán hasta el nueve de diciembre del dos mil uno.</p>

<p>(Corresponde al <a href="#">Artículo 54</a>)</p>
        <ul>
          <li><span>Compartir</span> <a href="#" class="compartir">bit.ly/Gad371</a></li>
          <li><span>Redactado</span> 31 de Mayo de 1853</li>
          <li><span>Firmado</span> Justo José de Urquiza</li>
        </ul>
      </article>
    </section>