<html>
  <head>
    <meta charset="UTF-8">
    <title>Constitucion.al</title>
    <link rel="stylesheet" href="/embed.css">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='wrapper'>
      <header class='cabecera'>
        <a href='http://constitucion.al/' target="_blank" title='Constitucion.al' class="logo">Ver la Constituci贸n Completa</a>
        <h1><a href='http://constitucion.al/argentina/' target="_blank" title='Ver la Constituci贸n de la Naci贸n Argentina completa'>Constitucion de la Naci贸n Argentina</a></h1>
        <p>Facilitada por <a href="http://constitucion.al" target="_blank">Constitucion.al</a></p>
      </header>
      <%= @articulo %>
    </div>
		<script>
			var level = document.location.search.replace(/\?/,'') || 0;
			$('#nested').attr('href','frame.nested.html?'+(++level));
		</script>
		<script type="text/javascript" src="/js/iframeResizer.contentWindow.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1560276-22', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
