<%
  @title = 'Constitución de la Nación Argentina'
  @body_class = 'argentina'
  @keywords = ''
  @description = ''
%>

    <div class="hero">
      <img src="/images/escudos/argentina1.svg">
      <h1>Constitución <br>de la Nación Argentina</h1>
      <p>Sancionada: <em>Diciembre 15 de 1994</em>. Promulgada: <em>Enero 3 de 1995</em>.</p>
    </div>

    <h3><span>Preámbulo</span></h3>

    <section class="preambulo">
      <article>
        <p>Nos los representantes del pueblo de la Nación Argentina, reunidos en Congreso General Constituyente por voluntad y elección de las provincias que la componen, en cumplimiento de pactos preexistentes, con el objeto de constituir la unión nacional, afianzar la justicia, consolidar la paz interior, proveer a la defensa común, promover el bienestar general, y asegurar los beneficios de la libertad, para nosotros, para nuestra posteridad, y para todos los hombres del mundo que quieran habitar en el suelo argentino: invocando la protección de Dios, fuente de toda razón y justicia: ordenamos, decretamos y establecemos esta Constitución, para la Nación Argentina.</p>
      </article>
    </section>

    <h3><span>Primera Parte</span></h3>

    <h5>Capítulo Primero</h5>
    <h4>Declaraciones, derechos y garantías</h4>

    <a name="art1"></a>
    <section class="gobierno art1">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 1º <dfn>Forma de Gobierno</dfn></header>
          <p>La Nación Argentina adopta para su gobierno la forma representativa republicana federal, según la establece la presente Constitución.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/ZBvO1S" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>

    </section>

    <a name="art2"></a>
    <section class="religion art2">
      <article>
        <aside><span><img src="/images/ribbons/icono-religion.svg"></span></aside>
        <main>
          <header>Artículo 2º <dfn>Religión Oficial</dfn></header>
          <p>El Gobierno federal sostiene el culto católico apostólico romano.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/ZBvO1S" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art3"></a>
    <section class="locacion art3">
      <article>
        <aside><span><img src="/images/ribbons/icono-locacion.svg"></span></aside>
        <main>
          <header>Artículo 3º <dfn>Residencia de Autoridades</dfn></header>
          <p>Las autoridades que ejercen el Gobierno federal, residen en la ciudad que se declare Capital de la República por una ley especial del Congreso, previa cesión hecha por una o más legislaturas provinciales, del territorio que haya de federalizarse.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art4"></a>
    <section class="moneda art4">
      <article>
        <aside><span><img src="/images/ribbons/icono-moneda.svg"></span></aside>
        <main>
          <header>Artículo 4º <dfn>Financiación de la Nación</dfn></header>
          <p>El Gobierno federal provee a los gastos de la Nación con los fondos del Tesoro nacional formado del producto de derechos de importación y exportación, del de la venta o locación de tierras de propiedad nacional, de la renta de Correos, de las demás contribuciones que equitativa y proporcionalmente a la población imponga el Congreso General, y de los empréstitos y operaciones de crédito que decrete el mismo Congreso para urgencias de la Nación, o para empresas de utilidad nacional.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art5"></a>
    <section class="art5">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 5º <dfn>Constitución de las Provincias</dfn></header>
          <p>Cada provincia dictará para sí una Constitución bajo el sistema representativo republicano, de acuerdo con los principios, declaraciones y garantías de la Constitución Nacional; y que asegure su administración de justicia, su régimen municipal, y la educación primaria. Bajo de estas condiciones el Gobierno federal, garante a cada provincia el goce y ejercicio de sus instituciones.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art6"></a>
    <section class="art6">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
        <header>Artículo 6º <dfn>Protección del Territorio</dfn></header>
          <p>El Gobierno federal interviene en el territorio de las provincias para garantir la forma republicana de gobierno, o repeler invasiones exteriores, y a requisición de sus autoridades constituidas para sostenerlas o restablecerlas, si hubiesen sido depuestas por la sedición, o por invasión de otra provincia.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art7"></a>
    <section class="art7">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 7º <dfn>Leyes Provinciales</dfn></header>
          <p>Los actos públicos y procedimientos judiciales de una provincia gozan de entera fe en las demás; y el Congreso puede por leyes generales determinar cuál será la forma probatoria de estos actos y procedimientos, y los efectos legales que producirán.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art8"></a>
    <section class="art8">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 8º <dfn>Derechos de Ciudadanos de las Provincias</dfn></header>
          <p>Los ciudadanos de cada provincia gozan de todos los derechos, privilegios e inmunidades inherentes al título de ciudadano en las demás. La extradición de los criminales es de obligación recíproca entre todas las provincias.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art9"></a>
    <section class="art9">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 9º <dfn>Aduanas</dfn></header>
          <p>En todo el territorio de la Nación no habrá más aduanas que las nacionales, en las cuales regirán las tarifas que sancione el Congreso.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art10"></a>
    <section class="art10">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 10º <dfn>Comercio Interno</dfn></header>
          <p>En el interior de la República es libre de derechos la circulación de los efectos de producción o fabricación nacional, así como la de los géneros y mercancías de todas clases, despachadas en las aduanas exteriores.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art11"></a>
    <section class="art11">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 11º <dfn>Comercio Interno</dfn></header>
          <p>Los artículos de producción o fabricación nacional o extranjera, así como los ganados de toda especie, que pasen por territorio de una provincia a otra, serán libres de los derechos llamados de tránsito, siéndolo también los carruajes, buques o bestias en que se transporten; y ningún otro derecho podrá imponérseles en adelante, cualquiera que sea su denominación, por el hecho de transitar el territorio.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art12"></a>
    <section class="art12">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 12º <dfn>Comercio Interno</dfn></header>
          <p>Los buques destinados de una provincia a otra, no serán obligados a entrar, anclar y pagar derechos por causa de tránsito, sin que en ningún caso puedan concederse preferencias a un puerto respecto de otro, por medio de leyes o reglamentos de comercio.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art13"></a>
    <section class="art13">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 13º <dfn>Futuras Provincias</dfn></header>
          <p>Podrán admitirse nuevas provincias en la Nación; pero no podrá erigirse una provincia en el territorio de otra u otras, ni de varias formarse una sola, sin el consentimiento de la Legislatura de las provincias interesadas y del Congreso.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art14"></a>
    <section class="art14">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 14º <dfn>Derechos Ciudadanos</dfn></header>
          <p>Todos los habitantes de la Nación gozan de los siguientes derechos conforme a las leyes que reglamenten su ejercicio; a saber: de trabajar y ejercer toda industria lícita; de navegar y comerciar; de peticionar a las autoridades; de entrar, permanecer, transitar y salir del territorio argentino; de publicar sus ideas por la prensa sin censura previa; de usar y disponer de su propiedad; de asociarse con fines útiles; de profesar libremente su culto; de enseñar y aprender.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art14b"></a>
    <section class="art14b">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 14º (bis) <dfn>Empleo y Seguridad Social</dfn></header>
          <p>El trabajo en sus diversas formas gozará de la protección de las leyes, las que asegurarán al trabajador: condiciones dignas y equitativas de labor, jornada limitada; descanso y vacaciones pagados; retribución justa; salario mínimo vital móvil; igual remuneración por igual tarea; participación en las ganancias de las empresas, con control de la producción y colaboración en la dirección; protección contra el despido arbitrario; estabilidad del empleado público; organización sindical libre y democrática, reconocida por la simple inscripción en un registro especial.</p>

  <p>Queda garantizado a los gremios: concertar convenios colectivos de trabajo; recurrir a la conciliación y al arbitraje; el derecho de huelga. Los representantes gremiales gozarán de las garantías necesarias para el cumplimiento de su gestión sindical y las relacionadas con la estabilidad de su empleo.</p>

  <p>El Estado otorgará los beneficios de la seguridad social, que tendrá carácter de integral e irrenunciable. En especial, la ley establecerá: el seguro social obligatorio, que estará a cargo de entidades nacionales o provinciales con autonomía financiera y económica, administradas por los interesados con participación del Estado, sin que pueda existir superposición de aportes; jubilaciones y pensiones móviles; la protección integral de la familia; la defensa del bien de familia; la compensación económica familiar y el acceso a una vivienda digna.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art15"></a>
    <section class="art15">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 15º <dfn>Esclavitud</dfn></header>
          <p>En la Nación Argentina no hay esclavos: los pocos que hoy existen quedan libres desde la jura de esta Constitución; y una ley especial reglará las indemnizaciones a que dé lugar esta declaración. Todo contrato de compra y venta de personas es un crimen de que serán responsables los que lo celebrasen, y el escribano o funcionario que lo autorice. Y los esclavos que de cualquier modo se introduzcan quedan libres por el solo hecho de pisar el territorio de la República.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art16"></a>
    <section class="art16">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 16º <dfn>Igualdad</dfn></header>
          <p>La Nación Argentina no admite prerrogativas de sangre, ni de nacimiento: no hay en ella fueros personales ni títulos de nobleza. Todos sus habitantes son iguales ante la ley, y admisibles en los empleos sin otra condición que la idoneidad. La igualdad es la base del impuesto y de las cargas públicas.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art17"></a>
    <section class="art17">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 17º <dfn>Propiedad Privada</dfn></header>
          <p>La propiedad es inviolable, y ningún habitante de la Nación puede ser privado de ella, sino en virtud de sentencia fundada en ley. La expropiación por causa de utilidad pública, debe ser calificada por ley y previamente indemnizada. Sólo el Congreso impone las contribuciones que se expresan en el Artículo 4º. Ningún servicio personal es exigible, sino en virtud de ley o de sentencia fundada en ley. Todo autor o inventor es propietario exclusivo de su obra, invento o descubrimiento, por el término que le acuerde la ley. La confiscación de bienes queda borrada para siempre del Código Penal argentino. Ningún cuerpo armado puede hacer requisiciones, ni exigir auxilios de ninguna especie.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art18"></a>
    <section class="art18">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 18º <dfn>Justicia</dfn></header>
          <p>Ningún habitante de la Nación puede ser penado sin juicio previo fundado en ley anterior al hecho del proceso, ni juzgado por comisiones especiales, o sacado de los jueces designados por la ley antes del hecho de la causa. Nadie puede ser obligado a declarar contra sí mismo; ni arrestado sino en virtud de orden escrita de autoridad competente. Es inviolable la defensa en juicio de la persona y de los derechos. El domicilio es inviolable, como también la correspondencia epistolar y los papeles privados; y una ley determinará en qué casos y con qué justificativos podrá procederse a su allanamiento y ocupación. Quedan abolidos para siempre la pena de muerte por causas políticas, toda especie de tormento y los azotes. Las cárceles de la Nación serán sanas y limpias, para seguridad y no para castigo de los reos detenidos en ellas, y toda medida que a pretexto de precaución conduzca a mortificarlos más allá de lo que aquélla exija, hará responsable al juez que la autorice.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art19"></a>
    <section class="art19">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 19º <dfn>Acciones Públicas y Privadas</dfn></header>
          <p>Las acciones privadas de los hombres que de ningún modo ofendan al orden y a la moral pública, ni perjudiquen a un tercero, están sólo reservadas a Dios, y exentas de la autoridad de los magistrados. Ningún habitante de la Nación será obligado a hacer lo que no manda la ley, ni privado de lo que ella no prohíbe.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art20"></a>
    <section class="art20">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 20º <dfn>Ciudadanos Extranjeros</dfn></header>
          <p>Los extranjeros gozan en el territorio de la Nación de todos los derechos civiles del ciudadano; pueden ejercer su industria, comercio y profesión; poseer bienes raíces, comprarlos y enajenarlos; navegar los ríos y costas; ejercer libremente su culto; testar y casarse conforme a las leyes. No están obligados a admitir la ciudadanía, ni a pagar contribuciones forzosas extraordinarias. Obtienen nacionalización residiendo dos años continuos en la Nación; pero la autoridad puede acortar este término a favor del que lo solicite, alegando y probando servicios a la República.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art21"></a>
    <section class="art21">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 21º <dfn>Defensa</dfn></header>
          <p>Todo ciudadano argentino está obligado a armarse en defensa de la patria y de esta Constitución, conforme a las leyes que al efecto dicte el Congreso y a los decretos del Ejecutivo nacional. Los ciudadanos por naturalización son libres de prestar o no este servicio por el término de diez años contados desde el día en que obtengan su carta de ciudadanía.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art22"></a>
    <section class="art22">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 22º <dfn>Representantes y Autoridades</dfn></header>
          <p>El pueblo no delibera ni gobierna, sino por medio de sus representantes y autoridades creadas por esta Constitución. Toda fuerza armada o reunión de personas que se atribuya los derechos del pueblo y peticione a nombre de éste, comete delito de sedición.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art23"></a>
    <section class="art23">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 23º <dfn>Estado de Sitio</dfn></header>
          <p>En caso de conmoción interior o de ataque exterior que pongan en peligro el ejercicio de esta Constitución y de las autoridades creadas por ella, se declarará en estado de sitio la provincia o territorio en donde exista la perturbación del orden, quedando suspensas allí las garantías constitucionales. Pero durante esta suspensión no podrá el presidente de la República condenar por sí ni aplicar penas. Su poder se limitará en tal caso respecto de las personas, a arrestarlas o trasladarlas de un punto a otro de la Nación, si ellas no prefiriesen salir fuera del territorio argentino.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art24"></a>
    <section class="art24">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 24º <dfn>Cambios de Legislación</dfn></header>
          <p>El Congreso promoverá la reforma de la actual legislación en todos sus ramos, y el establecimiento del juicio por jurados.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art25"></a>
    <section class="art25">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 25º <dfn>Inmigración</dfn></header>
          <p>El Gobierno federal fomentará la inmigración europea; y no podrá restringir, limitar ni gravar con impuesto alguno la entrada en el territorio argentino de los extranjeros que traigan por objeto labrar la tierra, mejorar las industrias, e introducir y enseñar las ciencias y las artes.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art26"></a>
    <section class="art26">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 26º <dfn>Navegación</dfn></header>
          <p>La navegación de los ríos interiores de la Nación es libre para todas las banderas, con sujeción únicamente a los reglamentos que dicte la autoridad nacional.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art27"></a>
    <section class="art27">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 27º <dfn>Potencias Extranjeras</dfn></header>
          <p>El Gobierno federal está obligado a afianzar sus relaciones de paz y comercio con las potencias extranjeras por medio de tratados que estén en conformidad con los principios de derecho público establecidos en esta Constitución.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art28"></a>
    <section class="art28">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 28º <dfn>Alteración de la Constitución</dfn></header>
          <p>Los principios, garantías y derechos reconocidos en los anteriores artículos, no podrán ser alterados por las leyes que reglamenten su ejercicio.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art29"></a>
    <section class="art29">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 29º <dfn>Facultades Extraordinarias</dfn></header>
          <p>El Congreso no puede conceder al Ejecutivo nacional, ni las Legislaturas provinciales a los gobernadores de provincia, facultades extraordinarias, ni la suma del poder público, ni otorgarles sumisiones o supremacías por las que la vida, el honor o las fortunas de los argentinos queden a merced de gobiernos o persona alguna. Actos de esta naturaleza llevan consigo una nulidad insanable, y sujetarán a los que los formulen, consientan o firmen, a la responsabilidad y pena de los infames traidores a la patria.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art30"></a>
    <section class="art30">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 30º <dfn>Reformación de la Constitución</dfn></header>
          <p>La Constitución puede reformarse en el todo o en cualquiera de sus partes. La necesidad de reforma debe ser declarada por el Congreso con el voto de dos terceras partes, al menos, de sus miembros; pero no se efectuará sino por una Convención convocada al efecto.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art31"></a>
    <section class="art31">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 31º <dfn>Ley Suprema de la Nación</dfn></header>
          <p>Esta Constitución, las leyes de la Nación que en su consecuencia se dicten por el Congreso y los tratados con las potencias extranjeras son la ley suprema de la Nación; y las autoridades de cada provincia están obligadas a conformarse a ella, no obstante cualquiera disposición en contrario que contengan las leyes o constituciones provinciales, salvo para la provincia de Buenos Aires, los tratados ratificados después del Pacto de 11 de noviembre de 1859.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art32"></a>
    <section class="art32">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 32º <dfn>Ley Suprema de la Nación</dfn></header>
          <p>El Congreso federal no dictará leyes que restrinjan la libertad de imprenta o establezcan sobre ella la jurisdicción federal.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art33"></a>
    <section class="art33">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 33º <dfn>Otros Derechos</dfn></header>
          <p>Las declaraciones, derechos y garantías que enumera la Constitución no serán entendidos como negación de otros derechos y garantías no enumerados; pero que nacen del principio de la soberanía del pueblo y de la forma republicana de gobierno.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art34"></a>
    <section class="art34">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 34º <dfn>Jueces Federales</dfn></header>
          <p>Los jueces de las cortes federales no podrán serlo al mismo tiempo de los tribunales de provincia, ni el servicio federal, tanto en lo civil como en lo militar da residencia en la provincia en que se ejerza, y que no sea la del domicilio habitual del empleado, entendiéndose esto para los efectos de optar a empleos en la provincia en que accidentalmente se encuentren.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <a name="art35"></a>
    <section class="art35">
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Artículo 35º <dfn>Nación Argentina</dfn></header>
          <p>Las denominaciones adoptadas sucesivamente desde 1810 hasta el presente, a saber: Provincias Unidas del Río de la Plata, República Argentina, Confederación Argentina, serán en adelante nombres oficiales indistintamente para la designación del Gobierno y territorio de las provincias, empleándose las palabras "Nación Argentina" en la formación y sanción de las leyes.</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>

    <h5>Capítulo Segundo</h5>
    <h4>Nuevos derechos y garantías</h4>

    <a name="cuarta"></a>
    <section>
      <article>
        <aside><span><img src="/images/ribbons/icono-gobierno.svg"></span></aside>
        <main>
          <header>Cuarta <dfn>Protección del Territorio</dfn></header>
          <p>Los actuales integrantes del Senado de la Nación desempeñarán su cargo hasta la extinción del mandato correspondiente a cada uno.</p>

          <p>En ocasión de renovarse un tercio del Senado en mil novecientos noventa y cinco, por finalización de los mandatos de todos los senadores elegidos en mil novecientos ochenta y seis, será designado además un tercer senador por distrito por cada Legislatura. El conjunto de los senadores por cada distrito se integrará, en lo posible, de modo que correspondan dos bancas al partido político o alianza electoral que tenga el mayor número de miembros en la legislatura, y la restante al partido político o alianza electoral que le siga en número de miembros de ella. En caso de empate, se hará prevalecer al partido político o alianza electoral que hubiera obtenido mayor cantidad de sufragios en la elección legislativa provincial inmediata anterior.</p>

          <p>La elección de los senadores que reemplacen a aquellos cuyos mandatos vencen en mil novecientos noventa y ocho, así como la elección de quien reemplace a cualquiera de los actuales senadores en caso de aplicación del Artículo 62, se hará por estas mismas reglas de designación. Empero, el partido político o alianza electoral que tenga el mayor número de miembros en la Legislatura al tiempo de la elección del senador, tendrá derecho a que sea elegido su candidato, con la sola limitación de que no resulten los tres senadores de un mismo partido político o alianza electoral.</p>

          <p>Estas reglas serán también aplicables a la elección de los senadores por la ciudad de Buenos Aires, en mil novecientos noventa y cinco por el cuerpo electoral, y en mil novecientos noventa y ocho, por el órgano legislativo de la ciudad.</p>

          <p>La elección de todos los senadores a que se refiere esta cláusula se llevará a cabo con una anticipación no menor de sesenta ni mayor de noventa días al momento en que el senador deba asumir su función.</p>

          <p>En todos los casos, los candidatos a senadores serán propuestos por los partidos políticos o alianzas electorales. El cumplimiento de las exigencias legales y estatutarias para ser proclamado candidato será certificado por la Justicia Electoral Nacional y comunicado a la Legislatura.</p>

          <p>Toda vez que se elija un senador nacional se designará un suplente, quien asumirá en los casos del Artículo 62.</p>

          <p>Los mandatos de los senadores elegidos por aplicación de esta cláusula transitoria durarán hasta el nueve de diciembre del dos mil uno.</p>

          <p>(Corresponde al <a href="#">Artículo 54</a>)</p>
        </main>
        <footer>
          <ul>
            <li class="url"><span>Link Permanente</span> <input type="text" value="http://bit.ly/Gad371" disabled></li>
            <li class="embeber"><span>Embeber HTML</span> <textarea disabled><INSERT HTML EMBED CODE HERE></textarea></li>
          </ul>
          <button>Expand</button>
        </footer>
      </article>
    </section>