---
title: Constitución de la Nación Argentina - Constitucion.al
extra_class: constitucion
---

<header id="principal">
  <a class="btn-menu" title="Índice de la Constitución de la Nación Argentina">Menu</a>
  <a class="btn-buscar" title="Para buscar en este documento usá la combinación de teclas: Control + F en Windows / Command + F en Mac">Buscar</a>
  <a class="btn-constitucional" href="/" title="Inicio / Constitucion.al"><img src="/images/constitucional_logo.svg" title="Constitucion.al" alt="Logo"></a>
  <ul>
    <li>ctrl / cmd</li>
    <li>+</li>
    <li>F</li>
    <li>=</li>
  </ul>
  <p>Constitución de la Nación Argentina</p>
</header>

<nav id="lateral">
      <h2><a href="#preambulo">Preámbulo</a></h2>

      <h3>Parte Primera</h3>

      <h4><span>Capitulo Primero</span> Declaraciones, derechos y garantías</h4>
      <ul>
        <li><a href="#art1">Artículo 1º <span>Forma de Gobierno</span></a></li>
        <li><a href="#art2">Artículo 2º <span>Religión Oficial</span></a></li>
        <li><a href="#art3">Artículo 3º <span>Residencia de Autoridades</span></a></li>
        <li><a href="#art4">Artículo 4º <span>Financiación de la Nación</span></a></li>
        <li><a href="#art5">Artículo 5º <span>Constitución de las Provincias</span></a></li>
        <li><a href="#art6">Artículo 6º <span>Protección del Territorio</span></a></li>
        <li><a href="#art7">Artículo 7º <span>Leyes Provinciales</span></a></li>
        <li><a href="#art8">Artículo 8º <span>Derechos de Ciudadanos de las Provincias</span></a></li>
        <li><a href="#art9">Artículo 9º <span>Aduanas</span></a></li>
        <li><a href="#art10">Artículo 10º <span>Comercio Interno</span></a></li>
        <li><a href="#art11">Artículo 11º <span>Comercio Interno</span></a></li>
        <li><a href="#art12">Artículo 12º <span>Comercio Interno</span></a></li>
        <li><a href="#art13">Artículo 13º <span>Futuras Provincias</span></a></li>
        <li><a href="#art14">Artículo 14º <span>Derechos Ciudadanos</span></a></li>
        <li><a href="#art14b">Artículo 14º (bis) <span>Empleo y Seguridad Social</span></a></li>
        <li><a href="#art15">Artículo 15º <span>Esclavitud</span></a></li>
        <li><a href="#art16">Artículo 16º <span>Igualdad</span></a></li>
        <li><a href="#art17">Artículo 17º <span>Propiedad Privada</span></a></li>
        <li><a href="#art18">Artículo 18º <span>Justicia</span></a></li>
        <li><a href="#art19">Artículo 19º <span>Acciones Públicas y Privadas</span></a></li>
        <li><a href="#art20">Artículo 20º <span>Ciudadanos Extranjeros</span></a></li>
        <li><a href="#art21">Artículo 21º <span>Defensa</span></a></li>
        <li><a href="#art22">Artículo 22º <span>Representantes y Autoridades</span></a></li>
        <li><a href="#art23">Artículo 23º <span>Estado de Sitio</span></a></li>
        <li><a href="#art24">Artículo 24º <span>Cambios de Legislación</span></a></li>
        <li><a href="#art25">Artículo 25º <span>Inmigración</span></a></li>
        <li><a href="#art26">Artículo 26º <span>Navegación</span></a></li>
        <li><a href="#art27">Artículo 27º <span>Potencias Extranjeras</span></a></li>
        <li><a href="#art28">Artículo 28º <span>Alteración de la Constitución</span></a></li>
        <li><a href="#art29">Artículo 29º <span>Facultades Extraordinarias</span></a></li>
        <li><a href="#art30">Artículo 30º <span>Reformación de la Constitución</span></a></li>
        <li><a href="#art31">Artículo 31º <span>Ley Suprema de la Nación</span></a></li>
        <li><a href="#art32">Artículo 32º <span>Ley Suprema de la Nación</span></a></li>
        <li><a href="#art33">Artículo 33º <span>Otros Derechos</span></a></li>
        <li><a href="#art34">Artículo 34º <span>Jueces Federales</span></a></li>
        <li><a href="#art35">Artículo 35º <span>Nación Argentina</span></a></li>
      </ul>

      <h4><span>Capitulo Segundo</span> Nuevos derechos y garantías</h4>
      <ul>
        <li><a href="#art36">Artículo 36º <span>Soberanía Consitucional</span></a></li>
        <li><a href="#art37">Artículo 37º <span>Soberanía Popular y Elecciones</span></a></li>
        <li><a href="#art38">Artículo 38º <span>Partidos Políticos</span></a></li>
        <li><a href="#art39">Artículo 39º <span>Participación Ciudadana</span></a></li>
        <li><a href="#art40">Artículo 40º <span>Plebiscitos</span></a></li>
        <li><a href="#art41">Artículo 41º <span>Derecho Ambiental de los Ciudadanos</span></a></li>
        <li><a href="#art42">Artículo 42º <span>Derechos de Usuarios y Consumidores</span></a></li>
        <li><a href="#art43">Artículo 43º <span>Denuncia de Inconstitucionalidad</span></a></li>
      </ul>

      <h2>Parte Segunda <span>Autoridades de la Nación</span></h2>
      <h3>Título Primero <span>Gobierno Federal</span></h3>
      <h4>Sección Primera <span>Del Poder Legislativo</span></h4>

      <ul>
        <li><a href="#art44">Artículo 44º <span>Conformación del Poder Legislativo</span></a>
      </ul>

      <h5>Capítulo I <span>De la Cámara de Diputados</span></h5>
      <ul>
        <li><a href="#art45">Artículo 45º <span>Composición de la Cámara de Diputados</span></a></li>
        <li><a href="#art46">Artículo 46º <span>Proporción de Diputados de la Primera Legislatura</span></a></li>
        <li><a href="#art47">Artículo 47º <span>Número de Diputados de la Segunda Legislatura</span></a></li>
        <li><a href="#art48">Artículo 48º <span>Requisitos para ser Diputado</span></a></li>
        <li><a href="#art49">Artículo 49º <span>Primer Elección de Diputados</span></a></li>
        <li><a href="#art50">Artículo 50º <span>Tiempo de Representación</span></a></li>
        <li><a href="#art51">Artículo 51º <span>Bancas Vacantes</span></a></li>
        <li><a href="#art52">Artículo 52º <span>Deber de la Cámara de Diputados</span></a></li>
        <li><a href="#art53">Artículo 53º <span>Facultades de los Diputados</span></a></li>
      </ul>

      <h5>Capítulo II <span>Del Senado</span></h5>
      <ul>
        <li><a href="#art54">Artículo 54º <span>Composición del Senado de la Nación</a></li>
        <li><a href="#art55">Artículo 55º <span>Requisitos para ser Senador</span></a></li>
        <li><a href="#art56">Artículo 56º <span>Tiempo de Representación</span></a></li>
        <li><a href="#art57">Artículo 57º <span>Presidente del Senado</span></a></li>
        <li><a href="#art58">Artículo 58º <span>Presidente Provisorio</span></a></li>
        <li><a href="#art59">Artículo 59º <span>Facultades del Senado</span></a></li>
        <li><a href="#art60">Artículo 60º <span>Deberes del Senado</span></a></li>
        <li><a href="#art61">Artículo 61º <span>Deberes del Senado</span></a></li>
        <li><a href="#art62">Artículo 62º <span>Bancas Vacantes</span></a></li>
      </ul>

      <h5>Capítulo III <span>Disposiciones comunes a ambas Cámaras</span></h5>
      <ul>
        <li><a href="#art63">Artículo 63º <span>Deberes de las Cámaras</span></a></li>
        <li><a href="#art64">Artículo 64º <span>Quórum en las Sesiones</span></a></li>
        <li><a href="#art65">Artículo 65º <span>Forma de Reunión</span></a></li>
        <li><a href="#art66">Artículo 66º <span>Reglamento</span></a></li>
        <li><a href="#art67">Artículo 67º <span>Juramento</span></a></li>
        <li><a href="#art68">Artículo 68º <span>Poderes de los Miembros</span></a></li>
        <li><a href="#art69">Artículo 69º <span>Poderes de los Miembros</span></a></li>
        <li><a href="#art70">Artículo 70º <span>Juzgamiento de los Miembros</span></a></li>
        <li><a href="#art71">Artículo 71º <span>Facultades de los Miembros</span></a></li>
        <li><a href="#art72">Artículo 72º <span>Facultades de los Miembros</span></a></li>
        <li><a href="#art73">Artículo 73º <span>Eclesiásticos y Gobernadores</span></a></li>
        <li><a href="#art74">Artículo 74º <span>Remuneración</span></a></li>
      </ul>

      <h5>Capítulo IV <span>Atribuciones del Congreso</span></h5>
      <ul>
        <li><a href="#art75">Artículo 75º <span>Funciones del Congreso</span></a></li>
        <li><a href="#art76">Artículo 76º <span>Delegación al Poder Ejecutivo</span></a></li>
      </ul>

      <h5>Capítulo V <span>De la Formación y Sanción de las Leyes</span></h5>
      <ul>
        <li><a href="#art77">Artículo 77º <span>Proyectos de Ley</span></a></li>
        <li><a href="#art78">Artículo 78º <span>Proceso de Sanción de una Ley</span></a></li>
        <li><a href="#art79">Artículo 79º <span>Aprobación de un Proyecto de Ley</span></a></li>
        <li><a href="#art80">Artículo 80º <span>Proyectos no Devueltos y Desechados</span></a></li>
        <li><a href="#art81">Artículo 81º <span>Proyectos Desechados y Corregidos</span></a></li>
        <li><a href="#art82">Artículo 82º <span>Voluntad de las Cámaras</span></a></li>
        <li><a href="#art83">Artículo 83º <span>Proyectos Desechados por el Poder Ejecutivo</span></a></li>
        <li><a href="#art84">Artículo 84º <span>Formato de la Sanción de una Ley</span></a></li>
      </ul>

      <h5>Capítulo VI <span>De la Auditoría General de la Nación</span></h5>
      <ul>
        <li><a href="#art85">Artículo 85º <span>Control Externo del Sector Público (Incorporado por la reforma del año 1994)</span></a></li>
      </ul>

      <h5>Capítulo VII <span>Del Defensor del Pueblo</span></h5>
      <ul>
        <li><a href="#art86">Artículo 86º <span>Defensor del Pueblo (Incorporado por la reforma del año 1994)</span></a></li>
      </ul>

      <h4>Sección Segunda <span>Del Poder Ejecutivo</span></h4>
      <h5>Capítulo I <span>De su Naturaleza y Duración</span></h5>
      <ul>
        <li><a href="#art87">Artículo 87º <span>Presidente de la Nación</span></a></li>
        <li><a href="#art88">Artículo 88º <span>Sustituto del Presidente de la Nación</span></a></li>
        <li><a href="#art89">Artículo 89º <span>Requisitos para ser Presidente de la Nación</span></a></li>
        <li><a href="#art90">Artículo 90º <span>Duración del Mandato</span></a></li>
        <li><a href="#art91">Artículo 91º <span>Cese de Poderes</span></a></li>
        <li><a href="#art92">Artículo 92º <span>Remuneración</span></a></li>
        <li><a href="#art93">Artículo 93º <span>Juramento</span></a></li>
      </ul>

      <h5>Capítulo II <span>De la Forma y Tiempo de la Elección del Presidente y Vicepresidente de la Nación</span></h5>
      <ul>
        <li><a href="#art94">Artículo 94º <span>Elección del Presidente de la Nación</span></a></li>
        <li><a href="#art95">Artículo 95º <span>Fecha de la Elección</span></a></li>
        <li><a href="#art96">Artículo 96º <span>Segunda Vuelta (Ballotage)</span></a></li>
        <li><a href="#art97">Artículo 97º <span>Mayoría Mínima</span></a></li>
        <li><a href="#art98">Artículo 98º <span>Mayoría Mínima</span></a></li>
      </ul>

      <h5>Capítulo III <span>Atribuciones del Poder Ejecutivo</span></h5>
      <ul>
        <li><a href="#art99">Artículo 99º <span>Atribuciones del Presidente de la Nación</span></a></li>
      </ul>

      <h5>Capítulo IV <span>Del jefe de gabinete y demás ministros del Poder Ejecutivo</span></h5>
      <ul>
        <li><a href="#art100">Artículo 100º <span>Atribuciones del Presidente de la Nación</span></a></li>
        <li><a href="#art101">Artículo 101º <span>Deberes del Jefe de Gabinete</span></a></li>
        <li><a href="#art102">Artículo 102º <span>Responsabilidad de los Ministros</span></a></li>
        <li><a href="#art103">Artículo 103º <span>Resoluciones</span></a></li>
        <li><a href="#art104">Artículo 104º <span>Presentación ante el Congreso</span></a></li>
        <li><a href="#art105">Artículo 105º <span>Participación en el Congreso</span></a></li>
        <li><a href="#art106">Artículo 106º <span>Participación en los Debates del Congreso</span></a></li>
        <li><a href="#art107">Artículo 107º <span>Remuneración</span></a></li>
      </ul>

      <h4>Sección Tercera <span>Del Poder Judicial</span></h4>
      <h5>Capítulo I <span>De su Naturaleza y Duración</span></h5>
      <ul>
        <li><a href="#art108">Artículo 108º <span>Composición del Poder Judicial</span></a></li>
        <li><a href="#art109">Artículo 109º <span>Participación del Presidente de la Nación</span></a></li>
        <li><a href="#art110">Artículo 110º <span>Jueces Nacionales</span></a></li>
        <li><a href="#art111">Artículo 111º <span>Requisitos para ser Juez de la Corte Suprema</span></a></li>
        <li><a href="#art112">Artículo 112º <span>Juramento</span></a></li>
        <li><a href="#art113">Artículo 113º <span>Reglamento</span></a></li>
        <li><a href="#art114">Artículo 114º <span>Atribuciones del Consejo de la Magistratura</span></a></li>
        <li><a href="#art115">Artículo 115º <span>Jueces de Tribunales Inferiores</span></a></li>
      </ul>

      <h5>Capítulo II <span>Atribuciones del Poder Judicial</span></h5>
      <ul>
        <li><a href="#art116">Artículo 116º <span>Atribuciones del Poder Judicial</span></a></li>
        <li><a href="#art117">Artículo 117º <span>Jurisdicción</span></a></li>
        <li><a href="#art118">Artículo 118º <span>Juicios Criminales Ordinarios</span></a></li>
        <li><a href="#art119">Artículo 119º <span>Traición a la Patria</span></a></li>
      </ul>

      <h4>Sección Cuarta <span>Del Ministerio Público</span></h4>
      <ul>
        <li><a href="#art120">Artículo 120º <span>Ministerio Público</span></a></li>
      </ul>

      <h3>Titulo Segundo <span>Gobierno de Provincia</span></h3>
      <ul>
        <li><a href="#art121">Artículo 121º <span>Las Provincias y el Gobierno Federal</span></a></li>
        <li><a href="#art122">Artículo 122º <span>Autonomía de los Gobiernos Provinciales</span></a></li>
        <li><a href="#art123">Artículo 123º <span>Constitución Provincial</span></a></li>
        <li><a href="#art124">Artículo 124º <span>Desarrollo Provincial</span></a></li>
        <li><a href="#art125">Artículo 125º <span>Convenios Parciales</span></a></li>
        <li><a href="#art126">Artículo 126º <span>Permiso de la Nación</span></a></li>
        <li><a href="#art127">Artículo 127º <span>Guerra Entre Provincias</span></a></li>
        <li><a href="#art128">Artículo 128º <span>Función del Gobernador</span></a></li>
        <li><a href="#art129">Artículo 129º <span>Cuidad de Buenos Aires</span></a></li>
      </ul>

      <h2>Disposiciones Transitorias</h2>
      <ul>
        <li><a href="#disp1">Primera <span>Soberanía Nacional</span></a></li>
        <li><a href="#disp2">Segunda <span>Duración del Artículo 37º</span></a></li>
        <li><a href="#disp3">Tercera <span>Sanción del Artículo 39º</span></a></li>
        <li><a href="#disp4">Cuarta <span>Conformación del Senado</span></a></li>
        <li><a href="#disp5">Quinta <span>Elección de los Candidatos del Senado</span></a></li>
        <li><a href="#disp6">Sexta <span>Coparticipación entre Provincias</span></a></li>
        <li><a href="#disp7">Séptima <span>Locación del Congreso</span></a></li>
        <li><a href="#disp8">Octava <span>Vencimiento de la Legislación</span></a></li>
        <li><a href="#disp9">Novena <span>Primer Período</span></a></li>
        <li><a href="#disp10">Décima <span>Período de Mandato</span></a></li>
        <li><a href="#disp11">Undécima <span>Finalización de Nombramientos</span></a></li>
        <li><a href="#disp12">Duodécima <span>Jefe de Gabinete</span></a></li>
        <li><a href="#disp13">Decimotercera <span>Magistrados Inferiores</span></a></li>
        <li><a href="#disp14">Decimocuarta <span>Causas en la Cámara de Diputados</span></a></li>
        <li><a href="#disp15">Decimoquinta <span>Autonomía de la Ciudad de Buenos Aires</span></a></li>
        <li><a href="#disp16">Decimosexta <span>Vigencia de la Reforma</span></a></li>
        <li><a href="#disp17">Decimoséptima <span>Reforma de la Constitución</span></a></li>
      </ul>
    </nav>

<div class="hero">
  <img src="/images/escudos/argentina.svg">
  <h1>Constitución <br>de la Nación Argentina</h1>
  <p>Sancionada: <em>Diciembre 15 de 1994</em>. Promulgada: <em>Enero 3 de 1995</em>.</p>
</div>

<a name="preambulo"></a>

<section class="preambulo destacado">
  <article>
    <h2><span>Preámbulo</span></h2>
    <p>Nos los representantes del pueblo de la Nación Argentina, reunidos en Congreso General Constituyente por voluntad y elección de las provincias que la componen, en cumplimiento de pactos preexistentes, con el objeto de constituir la unión nacional, afianzar la justicia, consolidar la paz interior, proveer a la defensa común, promover el bienestar general, y asegurar los beneficios de la libertad, para nosotros, para nuestra posteridad, y para todos los hombres del mundo que quieran habitar en el suelo argentino: invocando la protección de Dios, fuente de toda razón y justicia: ordenamos, decretamos y establecemos esta Constitución, para la Nación Argentina.</p>
  </article>
</section>

<h2><span>Parte Primera</span></h2>
<h3><span>Capítulo Primero</span> Declaraciones, derechos y garantías</h3>

<% blog('nacion').articles[0...35].sort_by{|article| article.data.art_id}.each do |article| %>
  <%= partial("layouts/partials/articulo", :locals =>{article: article}) %>
<% end %>
