---
title: Constituciones de la República Argentina - Constitucion.al
page_class: home
---

<header>
  <a href="/" class="logo"><img src="/images/constitucional_logo.svg" title="Constitucion.al" alt="Logo"></a>
  <a href="http://twitter.com/constitucion_al" target="_blank" class="social" title="Seguinos en Twitter @constitucion_al"><img src="/images/iconos/twitter.svg"></a>

  <h1>Las constituciones<br> de la <a href="#constitucion_ar">República Argentina</a>.
	  <span class="rotativos"><p>Para entender.</p></span>
	  <span class="rotativos"><p>Para saber.</p></span>
	  <span class="rotativos"><p>Para compartir.</p></span>
	  <span class="rotativos"><p>Para enseñar.</p></span>
	  <span class="rotativos"><p>Para leer.</p></span>
	  <span class="rotativos"><p>Para analizar.</p></span>
  </h1>

  <!-- <h1>Leé la Constitución<br>
 de la
    <span class="rotativos">nación <br><a href="/argentina/">Argentina</a></span>
    <span class="rotativos">ciudad autónoma de <br><a href="/ciudad-buenos-aires/">Buenos Aires</a></span>
    <span class="rotativos">provincia de <br><a href="/buenos-aires/">Buenos Aires</a></span>
    <span class="rotativos">provincia de <br><a href="/catamarca/">Catamarca</a></span>
    <span class="rotativos">provincia del <br><a href="/chaco/">Chaco</a></span>
    <span class="rotativos">provincia del <br><a href="/chubut/">Chubut</a></span>
    <span class="rotativos">provincia de <br><a href="/cordoba/">Córdoba</a></span>
    <span class="rotativos">provincia de <br><a href="#">Corrientes</a></span>
    <span class="rotativos">provincia de <br><a href="/entre-rios/">Entre Ríos</a></span>
    <span class="rotativos">provincia de <br><a href="/formosa/">Formosa</a></span>
    <span class="rotativos">provincia de <br><a href="/jujuy/">Jujuy</a></span>
    <span class="rotativos">provincia de <br><a href="/la-pampa/">La Pampa</a></span>
    <span class="rotativos">provincia de <br><a href="/la-rioja/">La Rioja</a></span>
    <span class="rotativos">provincia de <br><a href="/mendoza/">Mendoza</a></span>
    <span class="rotativos">provincia de <br><a href="/misiones/">Misiones</a></span>
    <span class="rotativos">provincia del <br><a href="/neuquen/">Neuquén</a></span>
    <span class="rotativos">provincia de <br><a href="/rio-negro/">Río Negro</a></span>
    <span class="rotativos">provincia de <br><a href="/salta/">Salta</a></span>
    <span class="rotativos">provincia de <br><a href="/san-juan/">San Juan</a></span>
    <span class="rotativos">provincia de <br><a href="/san-luis/">San Luis</a></span>
    <span class="rotativos">provincia de <br><a href="/santa-cruz/">Santa Cruz</a></span>
    <span class="rotativos">provincia de <br><a href="/santiago-del-estero/">Santiago del Estero</a></span>
    <span class="rotativos">provincia de <br><a href="/tierra-del-fuego/">Tierra del Fuego, Antártida...</a></span>
    <span class="rotativos">provincia de <br><a href="/tucuman/">Tucumán</a></span>
  </h1>-->
</header>

<section class="constitucion-nacion">
  <a name="constitucion_ar"></a>
  <div class="wrapper">
    <img src="/images/escudos/argentina-blanco.svg" class="escudo" alt="Escudo de armas de la República Argentina" title="Escudo de armas de la República Argentina">
    <span>Constitución <br>de la <strong>Nación Argentina</strong></span>
    <a href="/argentina/" class="button" title="Leer la Constitución de la Nación Argentina">Leer ahora</a>
  </div>
</section>

<a name="provincias"></a>

<section class="constitucion-provincias">
  <div class="wrapper">
    <ul>
      <li class="desactivado">
        <a href="#" title="Constitución de la Ciudad Autónoma de Buenos Aires">
          <img src="/images/escudos/ciudad-buenos-aires.svg" alt="Escudo de armas de la Ciudad Autónoma de Buenos Aires" title="Escudo de armas de la Ciudad Autónoma de Buenos Aires">
          <span class="provincia">Ciudad Autónoma de <strong>Buenos Aires</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Buenos Aires">
          <img src="/images/escudos/buenos-aires.svg" alt="Escudo de armas de la Provincia de Buenos Aires" title="Escudo de armas de la Provincia de Buenos Aires">
          <span class="provincia">Provincia de <strong>Buenos Aires</strong></span>
          <span class="boton">Próximamente
        </span></a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Catamarca">
          <img src="/images/escudos/catamarca.svg" alt="Escudo de armas de la Provincia de Catamarca" title="Escudo de armas de la Provincia de Catamarca">
          <span class="provincia">Provincia de <strong>Catamarca</strong></span>
          <span class="boton">Próximamente
        </span></a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia del Chaco">
          <img src="/images/escudos/chaco.svg" alt="Escudo de armas de la Provincia del Chaco" title="Escudo de armas de la Provincia del Chaco">
          <span class="provincia">Provincia del <strong>Chaco</strong></span>
          <span class="boton">Próximamente
        </span></a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia del Chubut">
          <img src="/images/escudos/chubut.svg" alt="Escudo de armas de la Provincia del Chubut" title="Escudo de armas de la Provincia del Chubut">
          <span class="provincia">Provincia del <strong>Chubut</strong></span>
          <span class="boton">Próximamente
        </span></a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Córdoba">
          <img src="/images/escudos/cordoba.svg" alt="Escudo de armas de la Provincia de Córdoba" title="Escudo de armas de la Provincia de Córdoba">
          <span class="provincia">Provincia de <strong>Córdoba</strong></span>
          <span class="boton">Próximamente
        </span></a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Corrientes">
          <img src="/images/escudos/corrientes.svg" alt="Escudo de armas de la Provincia de Corrientes" title="Escudo de armas de la Provincia de Corrientes">
          <span class="provincia">Provincia de <strong>Corrientes</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Entre Ríos">
          <img src="/images/escudos/entre-rios.svg" alt="Escudo de armas de la Provincia de Entre Ríos" title="Escudo de armas de la Provincia de Entre Ríos">
          <span class="provincia">Provincia de <strong>Entre Ríos</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Formosa">
          <img src="/images/escudos/formosa.svg" alt="Escudo de armas de la Provincia de Formosa" title="Escudo de armas de la Provincia de Formosa">
          <span class="provincia">Provincia de <strong>Formosa</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Jujuy">
          <img src="/images/escudos/jujuy.svg" alt="Escudo de armas de la Provincia de Jujuy" title="Escudo de armas de la Provincia de Jujuy">
          <span class="provincia">Provincia de <strong>Jujuy</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de La Pampa">
          <img src="/images/escudos/la-pampa.svg" alt="Escudo de armas de la Provincia de La Pampa" title="Escudo de armas de la Provincia de La Pampa">
          <span class="provincia">Provincia de <strong>La Pampa</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de La Rioja">
          <img src="/images/escudos/la-rioja.svg" alt="Escudo de armas de la Provincia de La Rioja" title="Escudo de armas de la Provincia de La Rioja">
          <span class="provincia">Provincia de <strong>La Rioja</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Mendoza">
          <img src="/images/escudos/mendoza.svg" alt="Escudo de armas de la Provincia de Mendoza" title="Escudo de armas de la Provincia de Mendoza">
          <span class="provincia">Provincia de <strong>Mendoza</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Misiones">
          <img src="/images/escudos/misiones.svg" alt="Escudo de armas de la Provincia de Misiones" title="Escudo de armas de la Provincia de Misiones">
          <span class="provincia">Provincia de <strong>Misiones</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia del Neuquén">
          <img src="/images/escudos/neuquen.svg" alt="Escudo de armas de la Provincia del Neuquén" title="Escudo de armas de la Provincia del Neuquén">
          <span class="provincia">Provincia del <strong>Neuquén</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Río Negro">
          <img src="/images/escudos/rio-negro.svg" alt="Escudo de armas de la Provincia de Río Negro" title="Escudo de armas de la Provincia de Río Negro">
          <span class="provincia">Provincia de <strong>Río Negro</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Salta">
          <img src="/images/escudos/salta.svg" alt="Escudo de armas de la Provincia de Salta" title="Escudo de armas de la Provincia de Salta">
          <span class="provincia">Provincia de <strong>Salta</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de San Juan">
          <img src="/images/escudos/san-juan.svg" alt="Escudo de armas de la Provincia de San Juan" title="Escudo de armas de la Provincia de San Juan">
          <span class="provincia">Provincia de <strong>San Juan</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de San Luis">
          <img src="/images/escudos/san-luis.svg" alt="Escudo de armas de la Provincia de San Luis" title="Escudo de armas de la Provincia de San Luis">
          <span class="provincia">Provincia de <strong>San Luis</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Santa Cruz">
          <img src="/images/escudos/santa-cruz.svg" alt="Escudo de armas de la Provincia de Santa Cruz" title="Escudo de armas de la Provincia de Santa Cruz">
          <span class="provincia">Provincia de <strong>Santa Cruz</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Santa Fe">
          <img src="/images/escudos/santa-fe.svg" alt="Escudo de armas de la Provincia de Santa Fe" title="Escudo de armas de la Provincia de Santa Fe">
          <span class="provincia">Provincia de <strong>Santa Fe</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Santiago del Estero">
          <img src="/images/escudos/santiago-del-estero.svg" alt="Escudo de armas de la Provincia de Santiago del Estero" title="Escudo de armas de la Provincia de Santiago del Estero">
          <span class="provincia">Provincia de <strong>Santiago del Estero</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <img src="/images/escudos/tierra-del-fuego.svg" alt="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur" title="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <span class="provincia">Provincia de <strong>Tierra del Fuego, Antártida e Islas del Atlántico Sur</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
      <li class="desactivado">
        <a href="#" title="Constitución de la Provincia de Tucumán">
          <img src="/images/escudos/tucuman.svg" alt="Escudo de armas de la Provincia de Tucumán" title="Escudo de armas de la Provincia de Tucumán">
          <span class="provincia">Provincia de <strong>Tucumán</strong></span>
          <span class="boton">Próximamente</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<a name="historia"></a>

<section class="acerca-constitucion">
  <div class="wrapper">
    <aside>
      <h2>Acerca de la <strong>Constitución
  de la Nación Argentina</strong></h2>
      <a href="/argentina/" class="button" title="Leer la Constitución de la Nación Argentina">Leer la Constitución</a>
    </aside>
    <p>El 1º de mayo de 1853 los diputados de las provincias (excepto los de Buenos Aires), reunidos en Santa Fe, sancionaron la Constitución Nacional, en respuesta a una necesidad que surgió tras la Revolución de Mayo. Su objetivo era constituir la unión nacional, afianzar la justicia y consolidar la paz interior.</p>
    <p><strong>Reforma Constitucional de 1994</strong></p>
    <p>Los postulados normativos de nuestra Constitución sufrieron su última reforma en 1994; cuyo proyecto surgió a partir del consenso entre las dos fuerzas partidarias mayoritarias de ese momento: el Partido Justicialista y la Unión Cívica Radical.</p>
    <p>En su conjunto, la reforma no cambió los principales contenidos de la Constitución de 1853, aunque modificó parte de la estructura institucional e incorporó nuevos derechos, a partir del reconocimiento de jerarquía constitucional a los tratados internacionales sobre derechos humanos.</p>
    <p>El acuerdo, posteriormente convertido en la Ley 24.309, incluyó un <em>núcleo de coincidencias básicas</em>, como: elección directa del Presidente y Vicepresidente e inclusión del ballottage; elección directa de tres senadores (de los cuales uno debería representar a la minoría); elección directa del Jefe de Gobierno de la Ciudad Autónoma de Buenos Aires; reducción del mandato presidencial a cuatro años; única posibilidad de reelección presidencial; creación del cargo de Jefe de Gabinete de Ministros; creación del Consejo de la Magistratura; acuerdo del Senado por mayoría absoluta para la designación de los jueces de la Corte Suprema.</p>
    <p>Fuente: <a href="http://www.presidencia.gob.ar/nuestro-pais/constitucion-nacional" title="Texto extraído de Casa Rosada - Presidencia de la Nación Argentina" target="_blank">Casa Rosada - Presidencia de la Nación</a>
  </div>
</section>

<section class="twitter">
  <a class="wrapper" href="https://twitter.com/search?src=typd&q=%23constitucional" target="_blank" title="Tweets con el hashtag #constitucional">#constitucional</a>
</section>

<section class="acerca-nosotros">
  <div class="wrapper">
    <aside>
      <h2>Acerca de <strong>constitucion.al</strong></h2>
      <a href="/acerca-de/#contactenos" title="Contactáte con Nosotros">Ayudanos a Mejorar</a>
    </aside>
    <p><strong>Constitucion.al</strong> es un proyecto independiente, sin fines de lugro ni afiliaciones políticas que busca facilitar el acceso de los principios fundamentales de la República Argentina y sus provincias. Fomentando la difusión mediante el uso de nuevas tecnologías.</p>
    <p>Nuestra idea es alentar el fácil del acceso a la información a la toda la ciudadanía, es por eso que este proyecto cuenta con una licencia Creative Commons (Atribución-SinDerivar 4.0 Internacional) con la cual queremos fomentar el uso de nuestra arquitectura y diseño en proyectos similares.</p>
    <p><strong>Colaborá con nosotros</strong>. Necesitamos ayuda para subir las constituciones de todas las provincias y hacer mejoras en el sitio. Podés consultar el código fuente del sitio que vive públicamente en <a href="https://github.com/fmaclen/constitucion.al" target="_blank" title="Repositorio en GitHub" class="github">GitHub</a>. Si creés que nos podes dar una mano <a href="/cdn-cgi/l/email-protection#422f37212a2d253731362d02212d2c31362b3637212b2d2c6c232e" title="Contactate con nosotros">no dudes en escribirnos</a>.</p>
    <p>
      <strong>Créditos</strong><br>
      <a href="http://fernando.is" target="_blank"title="Sitio Personal">Fernando Maclen</a> <span>Creación + Diseño + Desarrollo</span><br>
      <a href="https://dribbble.com/charlitoss" target="_blank" title="Seguilo en Twitter">Charly Prioglio</a> <span>Creación + Diseño</span><br>
      <a href="https://dribbble.com/pablofranco" target="_blank" title="Cacao Büro">Pablo Franco</a> <span>Diseño</span>
    </p>
  </div>
</section>

<script type="text/javascript">
  /* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */
</script>
