<%
  @title = 'Constitución.al'
  @body_class = 'homepage'
  @keywords = ''
  @description = ''
%>

<script src="/js/main.js"></script>

<header>
  <a href="/" class="logo"><img src="/images/constitucional_logo.svg" title="Constitucion.al" alt="Logo"></a>
  <nav>
    <a href="http://twitter.com/constitucion_al" target="_blank" title="Seguinos en Twitter">@constitucion_al</a>
    <a href="https://twitter.com/search?src=typd&q=%23constitucional" target="_blank" title="Tweets con el hashtag #constitucional">#constitucional</a>
  </nav>
  <h1>La Constitución<br>
   de la
      <span class="rotativos">nación <br><a href="/argentina/">Argentina</a></span>
      <span class="rotativos">ciudad de <br><a href="/ciudad-de-buenos-aires/">Buenos Aires</a></span>
      <span class="rotativos">provincia de <br><a href="/provincia-de-buenos-aires/">Buenos Aires</a></span>
      <span class="rotativos">provincia de <br><a href="/provncia-de-catamarca/">Catamarca</a></span>
  </h1>
</header>

<section class="constitucion-nacion">
  <div class="wrapper">
    <img src="/images/escudos/argentina-blanco.svg" class="escudo" alt="Escudo de armas de la República Argentina" title="Escudo de armas de la República Argentina">
    <span>Constitución <br>de la Nación Argentina</span>
    <a href="#historia" class="button" title="Historia la Constitución de la Nación Argentina">Historia</a>
    <a href="/argentina/" class="button" title="Leer la Constitución de la Nación Argentina">Leer &#10141;</a>
  </div>
</section>

<a name="provincias"></a>

<section class="constitucion-provincias">
  <div class="wrapper">
    <ul>
      <li>
        <a href="/ciudad-autonoma-de-buenos-aires/" title="Constitución de la Ciudad Autónoma de Buenos Aires">
          <img src="/images/escudos/ciudad-buenos-aires.svg" alt="Escudo de armas de la Ciudad Autónoma de Buenos Aires" title="Escudo de armas de la Ciudad Autónoma de Buenos Aires">
          <span>Provincia de Buenos Aires</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-buenos-aires/" title="Constitución de la Provincia de Buenos Aires">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Buenos Aires" title="Escudo de armas de la Provincia de Buenos Aires">
          <span>Provincia de Buenos Aires</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-catamarca/" title="Constitución de la Provincia de Catamarca">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Catamarca" title="Escudo de armas de la Provincia de Catamarca">
          <span>Provincia de Catamarca</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-chaco/" title="Constitución de la Provincia de Chaco">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Chaco" title="Escudo de armas de la Provincia de Chaco">
          <span>Provincia de Chaco</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-chubut/" title="Constitución de la Provincia de Chubut">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Chubut" title="Escudo de armas de la Provincia de Chubut">
          <span>Provincia de Chubut</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-cordoba/" title="Constitución de la Provincia de Córdoba">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Córdoba" title="Escudo de armas de la Provincia de Córdoba">
          <span>Provincia de Córdoba</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-corrientes/" title="Constitución de la Provincia de Corrientes">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Corrientes" title="Escudo de armas de la Provincia de Corrientes">
          <span>Provincia de Corrientes</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-entre-rios/" title="Constitución de la Provincia de Entre Ríos">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Entre Ríos" title="Escudo de armas de la Provincia de Entre Ríos">
          <span>Provincia de Entre Ríos</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-formosa/" title="Constitución de la Provincia de Formosa">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Formosa" title="Escudo de armas de la Provincia de Formosa">
          <span>Provincia de Formosa</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-jujuy/" title="Constitución de la Provincia de Jujuy">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Jujuy" title="Escudo de armas de la Provincia de Jujuy">
          <span>Provincia de Jujuy</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-la-pampa/" title="Constitución de la Provincia de La Pampa">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de La Pampa" title="Escudo de armas de la Provincia de La Pampa">
          <span>Provincia de La Pampa</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-la-rioja/" title="Constitución de la Provincia de La Rioja">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de La Rioja" title="Escudo de armas de la Provincia de La Rioja">
          <span>Provincia de La Rioja</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-mendoza/" title="Constitución de la Provincia de Mendoza">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Mendoza" title="Escudo de armas de la Provincia de Mendoza">
          <span>Provincia de Mendoza</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-misiones/" title="Constitución de la Provincia de Misiones">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Misiones" title="Escudo de armas de la Provincia de Misiones">
          <span>Provincia de Misiones</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-neuquen/" title="Constitución de la Provincia de Neuquén">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Neuquén" title="Escudo de armas de la Provincia de Neuquén">
          <span>Provincia de Neuquén</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-rio-negro/" title="Constitución de la Provincia de Río Negro">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Río Negro" title="Escudo de armas de la Provincia de Río Negro">
          <span>Provincia de Río Negro</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-salta/" title="Constitución de la Provincia de Salta">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Salta" title="Escudo de armas de la Provincia de Salta">
          <span>Provincia de Salta</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-san-juan/" title="Constitución de la Provincia de San Juan">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de San Juan" title="Escudo de armas de la Provincia de San Juan">
          <span>Provincia de San Juan</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-san-luis/" title="Constitución de la Provincia de San Luis">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de San Luis" title="Escudo de armas de la Provincia de San Luis">
          <span>Provincia de San Luis</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santa-cruz/" title="Constitución de la Provincia de Santa Cruz">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Santa Cruz" title="Escudo de armas de la Provincia de Santa Cruz">
          <span>Provincia de Santa Cruz</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santa-fe/" title="Constitución de la Provincia de Santa Fe">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Santa Fe" title="Escudo de armas de la Provincia de Santa Fe">
          <span>Provincia de Santa Fe</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santiago-del-estero/" title="Constitución de la Provincia de Santiago del Estero">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Santiago del Estero" title="Escudo de armas de la Provincia de Santiago del Estero">
          <span>Provincia de Santiago del Estero</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-tierra-del-fuego-antartida-e-islas-del-atlantico-sur/" title="Constitución de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur" title="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <span>Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-tucuman/" title="Constitución de la Provincia de Tucumán">
          <img src="/images/escudos/argentina1.svg" alt="Escudo de armas de la Provincia de Tucumán" title="Escudo de armas de la Provincia de Tucumán">
          <span>Provincia de Tucumán</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<a name="historia"></a>

<section class="acerca-constitucion">
  <div class="wrapper">
    <aside>
      <h2>Acerca de la <strong>Constitución
  Nacional Argentina</strong></h2>
      <a href="/argentina/" title="Leer la Constitución de la Nación Argentina">Leer la Constitución</a>
    </aside>
    <p>La Constitución de la Nación Argentina, que rige actualmente a la República Argentina, fue aprobada por una asamblea constituyente hecha en la Ciudad de Santa Fe en el año 1853. Esta Constitución ha sido reformada siete veces, siendo la última llevada a cabo en 1994.</p>
    <p>El propósito de la Constitución de 1853 fue poner fin al ciclo de las guerras civiles y sentar las bases de la Organización Nacional, objetivos que tardaron unas décadas más en cumplirse. Antes de esta aprobación hubo varios intentos (en 1819 y 1826) que fueron rechazados por diversos motivos.</p>
    <p>Fuente: <a href="http://es.wikipedia.org/wiki/Constituci%C3%B3n_de_la_Naci%C3%B3n_Argentina" title="Texto extraído de Wikipedia" target="_blank">Wikipedia</a>
  </div>
</section>

<section class="acerca-nosotros">
  <div class="wrapper">
    <aside>
      <h2>Acerca de <strong>constitucion.al</strong></h2>
      <a href="/acerca-de/#contactenos" title="Contactáte con Nosotros">Ayudanos a Mejorar</a>
    </aside>
    <p>Constitucion.al es un proyecto independiente, sin fines de lugro ni afiliaciones políticas que busca facilitar el acceso de los principios fundamentales de la República Argentina y sus provincias. Fomentando la difusión mediante el uso de nuevas tecnologías.</p>
    <p>Este proyecto fue diseñado y desarrollado por <a href="http://twitter.com/charlitosss" target="_blank">Charly Prioglio</a> y <a href="http://twitter.com/fmaclen" target="_blank">Fernando Maclen</a></p>
    <p>En línea desde Diciembre 2014. Última actualización: Enero 2015.</p>
  </div>
</section>

<footer>
  <nav>
    <a href="/acerca-de/#kit-prensa">Kit de Prensa</a>
    <a href="/acerca-de/#ayuda">Ayuda</a>
    <a href="http://twitter.com/constitucion_al" target="_blank" title="Seguinos en Twitter" class="twitter">@constitucion_al</a>
    <a href="https://twitter.com/search?src=typd&q=%23constitucional" target="_blank" title="Tweets con el hashtag #constitucional">#constitucional</a>
    <a href="https://github.com/fmaclen/constitucion.al" target="_blank" title="Repositorio en GitHub" class="github">GitHub</a>
  </nav>
  <aside>
    <a href="http://creativecommons.org/licenses/by-nd/4.0/deed.es" title="Atribución-SinDerivar 4.0 Internacional" target="_blank"><img src="/images/creative_commons.svg"></a>
  </aside>
</footer>