<%
  @title = 'Constitución.al'
  @body_class = 'homepage'
  @keywords = ''
  @description = ''
%>

<script src="/js/main.js"></script>

<header>
  <a href="/" class="logo"><img src="/images/constitucional_logo.svg" title="Constitucion.al" alt="Logo"></a>
  <a href="http://twitter.com/constitucion_al" target="_blank" class="social" title="Seguinos en Twitter @constitucion_al"><img src="/images/iconos/twitter.svg"></a>

  <h1>Leé la Constitución<br>
 de la
    <span class="rotativos">nación <br><a href="/argentina/">Argentina</a></span>
    <span class="rotativos">ciudad autónoma de <br><a href="/ciudad-de-buenos-aires/">Buenos Aires</a></span>
    <span class="rotativos">provincia de <br><a href="/provincia-de-buenos-aires/">Buenos Aires</a></span>
    <span class="rotativos">provincia de <br><a href="/provncia-de-catamarca/">Catamarca</a></span>
  </h1>
</header>

<section class="constitucion-nacion">
  <div class="wrapper">
    <img src="/images/escudos/argentina-blanco.svg" class="escudo" alt="Escudo de armas de la República Argentina" title="Escudo de armas de la República Argentina">
    <span>Constitución <br>de la <strong>Nación Argentina</strong></span>
    <a href="/argentina/" class="button" title="Leer la Constitución de la Nación Argentina">Leer ahora</a>
  </div>
</section>

<a name="provincias"></a>

<section class="constitucion-provincias">
  <div class="wrapper">
    <ul>
      <li>
        <a href="/ciudad-autonoma-de-buenos-aires/" title="Constitución de la Ciudad Autónoma de Buenos Aires">
          <img src="/images/escudos/ciudad-buenos-aires.svg" alt="Escudo de armas de la Ciudad Autónoma de Buenos Aires" title="Escudo de armas de la Ciudad Autónoma de Buenos Aires">
          <span class="provincia">Ciudad Autónoma de <strong>Buenos Aires</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-buenos-aires/" title="Constitución de la Provincia de Buenos Aires">
          <img src="/images/escudos/buenos-aires.svg" alt="Escudo de armas de la Provincia de Buenos Aires" title="Escudo de armas de la Provincia de Buenos Aires">
          <span class="provincia">Provincia de <strong>Buenos Aires</strong></span>
          <span class="boton">Leer Constitución</button>
        </a>
      </li>
      <li>
        <a href="/provincia-de-catamarca/" title="Constitución de la Provincia de Catamarca">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Catamarca" title="Escudo de armas de la Provincia de Catamarca">
          <span class="provincia">Provincia de <strong>Catamarca</strong></span>
          <span class="boton">Leer Constitución</button>
        </a>
      </li>
      <li>
        <a href="/provincia-de-chaco/" title="Constitución de la Provincia de Chaco">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Chaco" title="Escudo de armas de la Provincia de Chaco">
          <span class="provincia">Provincia de <strong>Chaco</strong></span>
          <span class="boton">Leer Constitución</button>
        </a>
      </li>
      <li>
        <a href="/provincia-de-chubut/" title="Constitución de la Provincia de Chubut">
          <img src="/images/escudos/chubut.svg" alt="Escudo de armas de la Provincia de Chubut" title="Escudo de armas de la Provincia de Chubut">
          <span class="provincia">Provincia de <strong>Chubut</strong></span>
          <span class="boton">Leer Constitución</button>
        </a>
      </li>
      <li>
        <a href="/provincia-de-cordoba/" title="Constitución de la Provincia de Córdoba">
          <img src="/images/escudos/cordoba.svg" alt="Escudo de armas de la Provincia de Córdoba" title="Escudo de armas de la Provincia de Córdoba">
          <span class="provincia">Provincia de <strong>Córdoba</strong></span>
          <span class="boton">Leer Constitución</button>
        </a>
      </li>
      <li>
        <a href="/provincia-de-corrientes/" title="Constitución de la Provincia de Corrientes">
          <img src="/images/escudos/corrientes.svg" alt="Escudo de armas de la Provincia de Corrientes" title="Escudo de armas de la Provincia de Corrientes">
          <span class="provincia">Provincia de <strong>Corrientes</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-entre-rios/" title="Constitución de la Provincia de Entre Ríos">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Entre Ríos" title="Escudo de armas de la Provincia de Entre Ríos">
          <span class="provincia">Provincia de <strong>Entre Ríos</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-formosa/" title="Constitución de la Provincia de Formosa">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Formosa" title="Escudo de armas de la Provincia de Formosa">
          <span class="provincia">Provincia de <strong>Formosa</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-jujuy/" title="Constitución de la Provincia de Jujuy">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Jujuy" title="Escudo de armas de la Provincia de Jujuy">
          <span class="provincia">Provincia de <strong>Jujuy</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-la-pampa/" title="Constitución de la Provincia de La Pampa">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de La Pampa" title="Escudo de armas de la Provincia de La Pampa">
          <span class="provincia">Provincia de <strong>La Pampa</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-la-rioja/" title="Constitución de la Provincia de La Rioja">
          <img src="/images/escudos/la-rioja.svg" alt="Escudo de armas de la Provincia de La Rioja" title="Escudo de armas de la Provincia de La Rioja">
          <span class="provincia">Provincia de <strong>La Rioja</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-mendoza/" title="Constitución de la Provincia de Mendoza">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Mendoza" title="Escudo de armas de la Provincia de Mendoza">
          <span class="provincia">Provincia de <strong>Mendoza</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-misiones/" title="Constitución de la Provincia de Misiones">
          <img src="/images/escudos/misiones.svg" alt="Escudo de armas de la Provincia de Misiones" title="Escudo de armas de la Provincia de Misiones">
          <span class="provincia">Provincia de <strong>Misiones</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-neuquen/" title="Constitución de la Provincia de Neuquén">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Neuquén" title="Escudo de armas de la Provincia de Neuquén">
          <span class="provincia">Provincia de <strong>Neuquén</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-rio-negro/" title="Constitución de la Provincia de Río Negro">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Río Negro" title="Escudo de armas de la Provincia de Río Negro">
          <span class="provincia">Provincia de <strong>Río Negro</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-salta/" title="Constitución de la Provincia de Salta">
          <img src="/images/escudos/salta.svg" alt="Escudo de armas de la Provincia de Salta" title="Escudo de armas de la Provincia de Salta">
          <span class="provincia">Provincia de <strong>Salta</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-san-juan/" title="Constitución de la Provincia de San Juan">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de San Juan" title="Escudo de armas de la Provincia de San Juan">
          <span class="provincia">Provincia de <strong>San Juan</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-san-luis/" title="Constitución de la Provincia de San Luis">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de San Luis" title="Escudo de armas de la Provincia de San Luis">
          <span class="provincia">Provincia de <strong>San Luis</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santa-cruz/" title="Constitución de la Provincia de Santa Cruz">
          <img src="/images/escudos/santa-cruz.svg" alt="Escudo de armas de la Provincia de Santa Cruz" title="Escudo de armas de la Provincia de Santa Cruz">
          <span class="provincia">Provincia de <strong>Santa Cruz</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santa-fe/" title="Constitución de la Provincia de Santa Fe">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Santa Fe" title="Escudo de armas de la Provincia de Santa Fe">
          <span class="provincia">Provincia de <strong>Santa Fe</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-santiago-del-estero/" title="Constitución de la Provincia de Santiago del Estero">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Santiago del Estero" title="Escudo de armas de la Provincia de Santiago del Estero">
          <span class="provincia">Provincia de <strong>Santiago del Estero</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-tierra-del-fuego-antartida-e-islas-del-atlantico-sur/" title="Constitución de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <img src="/images/escudos/tierra-del-fuego.svg" alt="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur" title="Escudo de armas de la Provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur">
          <span class="provincia">Provincia de <strong>Tierra del Fuego, Antártida e Islas del Atlántico Sur</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
      <li>
        <a href="/provincia-de-tucuman/" title="Constitución de la Provincia de Tucumán">
          <img src="/images/escudos/argentina.svg" alt="Escudo de armas de la Provincia de Tucumán" title="Escudo de armas de la Provincia de Tucumán">
          <span class="provincia">Provincia de <strong>Tucumán</strong></span>
          <span class="boton">Leer Constitución</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<a name="historia"></a>

<section class="acerca-constitucion">
  <div class="wrapper">
    <aside>
      <h2>Acerca de la <strong>Constitución
  de la Nación Argentina</strong></h2>
      <a href="/argentina/" class="button" title="Leer la Constitución de la Nación Argentina">Leer la Constitución</a>
    </aside>
    <p>El 1º de mayo de 1853 los diputados de las provincias (excepto los de Buenos Aires), reunidos en Santa Fe, sancionaron la Constitución Nacional, en respuesta a una necesidad que surgió tras la Revolución de Mayo. Su objetivo era constituir la unión nacional, afianzar la justicia y consolidar la paz interior.</p>
    <p><strong>Reforma Constitucional de 1994</strong></p>
    <p>Los postulados normativos de nuestra Constitución sufrieron su última reforma en 1994; cuyo proyecto surgió a partir del consenso entre las dos fuerzas partidarias mayoritarias de ese momento: el Partido Justicialista y la Unión Cívica Radical.</p>
    <p>En su conjunto, la reforma no cambió los principales contenidos de la Constitución de 1853, aunque modificó parte de la estructura institucional e incorporó nuevos derechos, a partir del reconocimiento de jerarquía constitucional a los tratados internacionales sobre derechos humanos.</p>
    <p>El acuerdo, posteriormente convertido en la Ley 24.309, incluyó un <em>núcleo de coincidencias básicas</em>, como: elección directa del Presidente y Vicepresidente e inclusión del ballottage; elección directa de tres senadores (de los cuales uno debería representar a la minoría); elección directa del Jefe de Gobierno de la Ciudad Autónoma de Buenos Aires; reducción del mandato presidencial a cuatro años; única posibilidad de reelección presidencial; creación del cargo de Jefe de Gabinete de Ministros; creación del Consejo de la Magistratura; acuerdo del Senado por mayoría absoluta para la designación de los jueces de la Corte Suprema.</p>
    <p>Fuente: <a href="http://www.presidencia.gob.ar/nuestro-pais/constitucion-nacional" title="Texto extraído de Casa Rosada - Presidencia de la Nación Argentina" target="_blank">Casa Rosada - Presidencia de la Nación</a>
  </div>
</section>

<section class="twitter">
  <a class="wrapper" href="https://twitter.com/search?src=typd&q=%23constitucional" target="_blank" title="Tweets con el hashtag #constitucional">#constitucional</a>
</section>

<section class="acerca-nosotros">
  <div class="wrapper">
    <aside>
      <h2>Acerca de <strong>constitucion.al</strong></h2>
      <a href="/acerca-de/#contactenos" title="Contactáte con Nosotros">Ayudanos a Mejorar</a>
    </aside>
    <p><strong>Constitucion.al</strong> es un proyecto independiente, sin fines de lugro ni afiliaciones políticas que busca facilitar el acceso de los principios fundamentales de la República Argentina y sus provincias. Fomentando la difusión mediante el uso de nuevas tecnologías.</p>
    <p>
      <strong>Créditos</strong><br>
      <a href="http://fernando.is" target="_blank"title="Sitio Personal">Fernando Maclen</a> <span>Creación + Diseño + Desarrollo</span><br>
      <a href="http://twitter.com/charlitosss" target="_blank" title="Seguilo en Twitter">Charly Prioglio</a> <span>Creación + Diseño</span><br>
      <a href="http://www.cacaoburo.com/" target="_blank" title="Cacao Büro">Pablo Franco</a> <span>Diseño</span>
    </p>
  </div>
</section>

<footer>
  <nav class="wrapper">
    <a href="http://creativecommons.org/licenses/by-nd/4.0/deed.es" class="cc" title="Atribución-SinDerivar 4.0 Internacional" target="_blank"><img src="/images/creative_commons.svg"></a>
    <a href="/">Inicio</a>
    <a href="/#acerca-de">Acerca</a>
    <a href="/prensa/">Prensa</a>
    <a href="http://twitter.com/constitucion_al" target="_blank" title="Seguinos en Twitter" class="twitter">Twitter</a>
    <a href="https://github.com/fmaclen/constitucion.al" target="_blank" title="Repositorio en GitHub" class="github">GitHub</a>
    <a href="https://dribbble.com" target="_blank" title="Proyecto en Dribbble" class="dribbble">Dribbble</a>
    <p><strong>En línea desde Diciembre 2014.</strong> Última actualización: Enero 2015.</p>
  </nav>
</footer>