<html>
<head>
  <title>Test</title>
</head>
<body>
  <main style="width: 960px; border: 5px solid red;">
<blockquote class="twitter-tweet" lang="en"><p>What the State of Liberty would look like as a converted condo. <a href="http://t.co/63McTgeXia">http://t.co/63McTgeXia</a></p>&mdash; Chris Gayomali (@chrisgayomali) <a href="https://twitter.com/chrisgayomali/status/520551841638400001">October 10, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</main>
</body>
</html>