<h1>Toast!</h1>
<section>
  <aside>What is it about?</aside>
  <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
</section>
<section>
  <aside>What is this about?</aside>
  <article>Neat is grid framework built on top of Sass and Bourbon an open source semantic…</article>
</section>